In [ ]:
# List Comprehension

syntax:
    [expression for var in iterable if condition]

In [24]:
# extract the usernames of the mail ID's and save in some list

lst = ['cgarcia@gmail.com',
 'seasweb@yahoo.ca',
 'onestab@optonline.net',
 'stevelim@mac.com',
 'onestab@optonline.net',
 'andersbr@gmail.com',
 'kjetilk@sbcglobal.net',
 'conteb@aol.com',
 'oneiros@mac.com',
 'jfinke@att.net',
 'purvis@outlook.com',
 'pontipak@live.com']

elist= []
for i in lst:
    elist.append(i.split('@')[0])
    
print(elist)

['cgarcia', 'seasweb', 'onestab', 'stevelim', 'onestab', 'andersbr', 'kjetilk', 'conteb', 'oneiros', 'jfinke', 'purvis', 'pontipak']

In [25]:
# extract the usernames of the mail ID's and save in some list

lst = ['cgarcia@gmail.com',
 'seasweb@yahoo.ca',
 'onestab@optonline.net',
 'stevelim@mac.com',
 'onestab@optonline.net',
 'andersbr@gmail.com',
 'kjetilk@sbcglobal.net',
 'conteb@aol.com',
 'oneiros@mac.com',
 'jfinke@att.net',
 'purvis@outlook.com',
 'pontipak@live.com']

elist= [i.split('@')[0] for i in lst]
    
print(elist)

['cgarcia', 'seasweb', 'onestab', 'stevelim', 'onestab', 'andersbr', 'kjetilk', 'conteb', 'oneiros', 'jfinke', 'purvis', 'pontipak']

In [26]:
# extract the usernames of the mail ID's and save in some list

lst = ['cgarcia@gmail.com',
 'seasweb@yahoo.ca',
 'onestab@optonline.net',
 'stevelim@mac.com',
 'onestab@optonline.net',
 'andersbr@gmail.com',
 'kjetilk@sbcglobal.net',
 'conteb@aol.com',
 'oneiros@mac.com',
 'jfinke@att.net',
 'purvis@outlook.com',
 'pontipak@live.com']

elist= [i.split('@')[0] for i in lst if i.split('@')[1] == 'gmail.com']
    
print(elist)

['cgarcia', 'andersbr']

In [35]:
# Filter the even numbers and save in some list

lst_1 = [1,2,3,4,54,56,6,7,8,989,6,54,4,45]

elist = []
for i in lst_1:
    if i%2 == 0:
        elist.append(i)
        
print(elist)

[2, 4, 54, 56, 6, 8, 6, 54, 4]

In [36]:
# Filter the even numbers and save in some list

lst_1 = [1,2,3,4,54,56,6,7,8,989,6,54,4,45]

elist = [ i for i in lst_1 if i%2 == 0]

        
print(elist)

[2, 4, 54, 56, 6, 8, 6, 54, 4]

In [37]:
# Save the power of 2 for each number 
lst_2 = [1,2,3,4,5,56,67,7,34,3,4,5,56]
elist = []

for i in lst_2:
    elist.append(i**2)
    
print(elist)

[1, 4, 9, 16, 25, 3136, 4489, 49, 1156, 9, 16, 25, 3136]

In [38]:
# Save the power of 2 for each number 
lst_2 = [1,2,3,4,5,56,67,7,34,3,4,5,56]
elist = [i**2 for i in lst_2]

    
print(elist)

[1, 4, 9, 16, 25, 3136, 4489, 49, 1156, 9, 16, 25, 3136]

In [40]:
# filter the adult person from the list consider people able 25 and 25
lst_3 = [22.0,
 38.0,
 26.0,
 35.0,
 35.0,
 29.69,
 54.0,
 2.0,
 27.0,
 14.0,
 4.0,
 58.0,
 20.0,
 39.0,
 14.0,
 55.0]

elist = []

for i in lst_3:
    if i >= 25:
        elist.append(i)
        
print(elist)

[38.0, 26.0, 35.0, 35.0, 29.69, 54.0, 27.0, 58.0, 39.0, 55.0]

In [41]:
# filter the adult person from the list consider people able 25 and 25
lst_3 = [22.0,
 38.0,
 26.0,
 35.0,
 35.0,
 29.69,
 54.0,
 2.0,
 27.0,
 14.0,
 4.0,
 58.0,
 20.0,
 39.0,
 14.0,
 55.0]

elist = [i for i in lst_3 if i>=25]

        
print(elist)

[38.0, 26.0, 35.0, 35.0, 29.69, 54.0, 27.0, 58.0, 39.0, 55.0]

In [42]:
# Write a python program to save the table of 2 in some list

elist = []

for i in [1,2,3,4,5,6,7,8,9,10]:
    elist.append(i*2)
    
print(elist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [44]:
# Write a python program to save the table of 2 in some list

elist = []

for i in [1,2,3,4,5,6,7,8,9,10]:
    elist.append(f'2    *   {i}   =   {i*2}')
    
elist

['2    *   1   =   2',
 '2    *   2   =   4',
 '2    *   3   =   6',
 '2    *   4   =   8',
 '2    *   5   =   10',
 '2    *   6   =   12',
 '2    *   7   =   14',
 '2    *   8   =   16',
 '2    *   9   =   18',
 '2    *   10   =   20']

In [51]:
# Write a python program to save the table of 2 in some list

elist = [ f'2    *   {i}   =   {i*2}' for i in [1,2,3,4,5,6,7,8,9,10]]
    
elist

['2    *   1   =   2',
 '2    *   2   =   4',
 '2    *   3   =   6',
 '2    *   4   =   8',
 '2    *   5   =   10',
 '2    *   6   =   12',
 '2    *   7   =   14',
 '2    *   8   =   16',
 '2    *   9   =   18',
 '2    *   10   =   20']

In [50]:
# Write a python program to save the table of 2 in some list

elist = []

for i in [1,2,3,4,5,6,7,8,9,10]:
    elist.append('2   *   '+str(i)+'  =   '+ str(i*2))
    
elist

['2   *   1  =   2',
 '2   *   2  =   4',
 '2   *   3  =   6',
 '2   *   4  =   8',
 '2   *   5  =   10',
 '2   *   6  =   12',
 '2   *   7  =   14',
 '2   *   8  =   16',
 '2   *   9  =   18',
 '2   *   10  =   20']

In [46]:
a = input('Enter the first name : ')
b = input('Enter the second name : ')

print('My first name is '+a+', and second name is '+b)

Enter the first name : python
Enter the second name : learnbay
My first name is python, and second name is learnbay

In [48]:
a = input('Enter the first name : ')
b = input('Enter the second name : ')

print('My first name is {}, and second name is {}'.format(a,b))

Enter the first name : python
Enter the second name : learnbay
My first name is python, and second name is learnbay

In [49]:
a = input('Enter the first name : ')
b = input('Enter the second name : ')

print(f'My first name is {a}, and second name is {b}')

Enter the first name : python
Enter the second name : learnbay
My first name is python, and second name is learnbay

# Tuple

# Creating a tuple

In [52]:
# 1. you already know the elements

tup = (1,2,3,4,5)

print(tup , type(tup))

(1, 2, 3, 4, 5) <class 'tuple'>

In [57]:
# 2. Taking user input - eval

a = eval(input('Enter the values : '))

print(a , type(a))

Enter the values : 'a' , 'b' , 'c'
('a', 'b', 'c') <class 'tuple'>

In [58]:
# 3. Type casting

a = 'str'
b = [1,2,3,45,6]


print(tuple(a))
print(tuple(b))

('s', 't', 'r')
(1, 2, 3, 45, 6)

# Packing - Assigning multiple values to 1 var

In [59]:
a = (1,2,3,4,5)

print(a , type(a))

(1, 2, 3, 4, 5) <class 'tuple'>

In [62]:
a = 1,1,1,1,1,2,3,4,5,6

print(a , type(a))

(1, 1, 1, 1, 1, 2, 3, 4, 5, 6) <class 'tuple'>

In [61]:
a = 'a' , 12 , 234.56 , 'python'

print(type(a))

<class 'tuple'>

# Properties of tuple

- Seq data type
- +ve and -ve indexing
- can hold multiple data types
- allows duplication
- concat , repetation , identity , membership


# immutable

In [63]:
# indexing

a = (1,2,3,4,6,7)

print(a[3])

4

In [64]:
# indexing

a = (1,2,3,4,6,7)

print(a[-3])

4

In [66]:
# indexing

a = (1,2,3,4,6,7)

print(a[::2])

(1, 3, 6)

In [67]:
# indexing

a = (1,2,3,4,6,7)

print(a[::-2])

(7, 4, 2)

In [68]:
# can hold multiple data types

a = ('a' , 12 , 234.56 , 'python' , [1,2,3])
print(a)

('a', 12, 234.56, 'python', [1, 2, 3])

In [69]:
# can hold multiple data types

a = ('a' , 12 , 234.56 , 'python', 'python' , 'python' , [1,2,3])
print(a)

('a', 12, 234.56, 'python', 'python', 'python', [1, 2, 3])

# Difference b/w a list and tuple

In [73]:
a = [1,2,3,4,5]

# print(a , type(a))
a[0] = 9999

print(a)

[9999, 2, 3, 4, 5]

In [74]:
a = (1,2,3,4,5)

# print(a , type(a))

a[0] = 9999

print(a)

TypeError: 'tuple' object does not support item assignment

In [77]:
# Concat
# op -- +

a = (1,2,3,4)
b = (5,6,87,8)

print(a + b)

(1, 2, 3, 4, 5, 6, 87, 8)

In [78]:
# repetation
# *

a = (1,2,3,4)
b = 2


print( a *b)

(1, 2, 3, 4, 1, 2, 3, 4)

In [2]:
# identity 
# is and is not

a = (1,2,3)
b = (1,2,3)

print(id(a))
print(id(b))

print(a is b)

2468655365888
2468655511104
False

In [79]:
a = [1,2,3]
b = [1,2,3]

print(id(a))
print(id(b))

2418656341696
2418656331008

In [5]:
# membership
# in and not in

a = 1,2,3,4,5,6,7,8,9

print( 4 in a)

True

In [6]:
# membership
# in and not in

a = 1,2,3,4,5,6,7,8,9

print( 4 not in a)

False

# Methods of tuple

In [7]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [8]:
# count

a = (1,2,3,4,12,3,4,1,1,3,4,2,4,2,1,1,1,12,1)


print( a.count(1))

7

In [9]:
# count

a = (1,2,3,4,12,3,4,1,1,3,4,2,4,2,1,1,1,12,1)


print( a.index(4))

3

In [11]:
# count

a = (1,2,3,4,12,3,4,1,1,3,4,2,4,2,1,1,1,12,1)


print( a.index(4 , 5))

6

# Tuple packing and unpacking

In [12]:
# tuple packing

a = 12,12,34,546

print(a , type(a))

(12, 12, 34, 546) <class 'tuple'>

In [15]:
# tuple unpacking

a,b,c,d = 12.34,'12',34,546

print(a , type(a))
print(b , type(b))
print(c , type(c))
print(d , type(d))

12.34 <class 'float'>
12 <class 'str'>
34 <class 'int'>
546 <class 'int'>

In [17]:
# tuple unpacking

a,b,c = 12.34,'12',[34,546]

print(a , type(a))
print(b , type(b))
print(c , type(c))
print(d , type(d))

12.34 <class 'float'>
12 <class 'str'>
[34, 546] <class 'list'>
546 <class 'int'>

In [18]:
# tuple unpacking

a,b,c , d = 12.34,'12',[34,546] , 10+7j

print(a , type(a))
print(b , type(b))
print(c , type(c))
print(d , type(d))

12.34 <class 'float'>
12 <class 'str'>
[34, 546] <class 'list'>
(10+7j) <class 'complex'>

In [29]:
# 
a = [1,2,3,4]
b = ['a' , 'b' , 'c' ,'d']


for i,j in list(zip(a ,b)):
    print(i , type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>

In [58]:
a = 'this is python'


for i in enumerate(a , 10):
    print(i , type(i))

(10, 't') <class 'tuple'>
(11, 'h') <class 'tuple'>
(12, 'i') <class 'tuple'>
(13, 's') <class 'tuple'>
(14, ' ') <class 'tuple'>
(15, 'i') <class 'tuple'>
(16, 's') <class 'tuple'>
(17, ' ') <class 'tuple'>
(18, 'p') <class 'tuple'>
(19, 'y') <class 'tuple'>
(20, 't') <class 'tuple'>
(21, 'h') <class 'tuple'>
(22, 'o') <class 'tuple'>
(23, 'n') <class 'tuple'>

# Enumerate

- Split each char or element and gives the output as a tuple
- By default the start value is 0

In [63]:
a = ['a' , 'b' , 'c']

list(enumerate(a , 1 ))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [69]:
a = 'python is an programing language , python has easy syntax , this is python class'


# all the index values of 'p'

# for i,j in enumerate(a):
#     if j == 'p':
#         print(f' the index value of p is = {i}')

# convert the str into a list and get the index value of 'python' is present


for i,j in enumerate(a.split()):
    if j =='python':
        print(i)

0
6
13

# Range , Dic