In [2]:
# Task

emp_data = {'emp_1': {'age': 24 , 'salary': 626223 , 'name': 'salahuddin'},
           'emp_2': {'age': 23 , 'salary': 96780 , 'name': 'ajay'},
           'emp_3': {'age': 26 , 'salary': 90890 , 'name': 'abhishek'}, 
           'emp_4': {'age': 32 , 'salary': 65756 , 'name': 'anas'}}

ex_emp = {}

In [3]:
def addEmployee(age,sal,name):
    emp_id = "emp_"+str(len(emp_data)+1)
    emp_data.setdefault(emp_id,{'age': age, 'salary':sal,'name':name})

def removeEmployee(emp_id):
    ex_emp.setdefault(emp_id,emp_data.pop(emp_id))

In [12]:
addEmployee(28 , 8387373 , 'xyz')

In [13]:
emp_data

{'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'},
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'},
 'emp_5': {'age': 28, 'salary': 8387373, 'name': 'xyz'},
 'emp_6': {'age': 28, 'salary': 8387373, 'name': 'xyz'},
 'emp_7': {'age': 28, 'salary': 8387373, 'name': 'xyz'},
 'emp_8': {'age': 28, 'salary': 8387373, 'name': 'xyz'},
 'emp_9': {'age': 28, 'salary': 8387373, 'name': 'xyz'}}

In [17]:
removeEmployee('emp_8')

In [18]:
emp_data

{'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'},
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'},
 'emp_5': {'age': 28, 'salary': 8387373, 'name': 'xyz'},
 'emp_6': {'age': 28, 'salary': 8387373, 'name': 'xyz'},
 'emp_7': {'age': 28, 'salary': 8387373, 'name': 'xyz'}}

In [19]:
ex_emp

{'emp_9': {'age': 28, 'salary': 8387373, 'name': 'xyz'},
 'emp_8': {'age': 28, 'salary': 8387373, 'name': 'xyz'}}

In [ ]:
def addEmployee(age,sal,name):
    emp_id = "emp_"+str(len(emp_data)+1)
    emp_data.setdefault(emp_id,{'age': age, 'salary':sal,'name':name})

In [ ]:
salary , name , emp_pin

In [24]:
def addEmployee(**kwargs):
    '''This is a function used to 
    add the employe detail'''
    emp_id = "emp_"+str(len(emp_data)+1)
    emp_data.setdefault(emp_id, kwargs)

In [21]:
addEmployee(salary = 836783673 , name = 'abc' , emp_pin = 823635)

In [22]:
emp_data

{'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'},
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'},
 'emp_5': {'age': 28, 'salary': 8387373, 'name': 'xyz'},
 'emp_6': {'age': 28, 'salary': 8387373, 'name': 'xyz'},
 'emp_7': {'age': 28, 'salary': 8387373, 'name': 'xyz'},
 'emp_8': {'salary': 836783673, 'name': 'abc', 'emp_pin': 823635}}

In [29]:
def add_employee(**kwargs):
    key   = f'emp_{len(emp_data)+1}'
    emp_data[key] = kwargs
def remove_employee(name_in):
    for i in emp_data.keys():
        if(emp_data[i]['name'])==name_in:
            ex_employee[i] = emp_data.pop(i)
            break
               
opt = eval(input("How do you wish to continue? enter 1 for adding an employee and 2 for removing an employee"))
if (opt==1):
    name_in   = input("enter new employee's name")
    salary_in = eval(input("enter new employee's salary"))
    age_in    = eval(input("enter new employee's age"))
    add_employee(age=age_in,salary=salary_in,name=name_in)
    print(f'New emmployees are {emp_data}')
elif(opt==2):
    name_in   = eval(input("enter employee to be removed"))
    remove_employee(name_in)
    print(f'Ex emmployees are {ex_employee}')
else:
    print("You have entered a wrong choice")

How do you wish to continue? enter 1 for adding an employee and 2 for removing an employee1
enter new employee's namejfdslsd
enter new employee's salary3873784
enter new employee's age76
New emmployees are {'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'}, 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'}, 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'}, 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'}, 'emp_5': {'age': 28, 'salary': 8387373, 'name': 'xyz'}, 'emp_6': {'age': 28, 'salary': 8387373, 'name': 'xyz'}, 'emp_7': {'age': 28, 'salary': 8387373, 'name': 'xyz'}, 'emp_8': {'salary': 836783673, 'name': 'abc', 'emp_pin': 823635}, 'emp_9': {'a': 23}, 'emp_10': {'age': 76, 'salary': 3873784, 'name': 'jfdslsd'}}

In [30]:
emp_data

{'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'},
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'},
 'emp_5': {'age': 28, 'salary': 8387373, 'name': 'xyz'},
 'emp_6': {'age': 28, 'salary': 8387373, 'name': 'xyz'},
 'emp_7': {'age': 28, 'salary': 8387373, 'name': 'xyz'},
 'emp_8': {'salary': 836783673, 'name': 'abc', 'emp_pin': 823635},
 'emp_9': {'a': 23},
 'emp_10': {'age': 76, 'salary': 3873784, 'name': 'jfdslsd'}}

In [26]:
emp_data['emp_9'] = {'a':23}

In [27]:
emp_data

{'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'},
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'},
 'emp_5': {'age': 28, 'salary': 8387373, 'name': 'xyz'},
 'emp_6': {'age': 28, 'salary': 8387373, 'name': 'xyz'},
 'emp_7': {'age': 28, 'salary': 8387373, 'name': 'xyz'},
 'emp_8': {'salary': 836783673, 'name': 'abc', 'emp_pin': 823635},
 'emp_9': {'a': 23}}

# Return

- It is optional
- if the return is not used by default the returned value is None

In [50]:
def palindrom(a):
    if a == a[::-1]:
        return ('yes')
    else:
        return ('no')

In [53]:
a = palindrom('python')

In [54]:
print(a)

no

In [55]:
def odd_even_filter(a):
    even_list = [i for i in a if i%2 == 0]
    return (even_list)

In [48]:
lst = [1,2,3,4,5,6,7,8,9,10,11,12]

lst_1 = odd_even_filter(lst)

In [49]:
print(lst_1)

[2, 4, 6, 8, 10, 12]

In [45]:
def adder(a,b):
    return a+b
    
num = adder(23,544)

In [46]:
print(num)

567

In [62]:
def adder(a,b):
    return a+b ,b+a
    
num , num_1 = adder(23,544)

In [63]:
print(num , type(num))

567 <class 'int'>

In [65]:
def adder(a,b):
    return 'anything'
    
num = adder(23,544)
print(num , type(num))

anything <class 'str'>

In [66]:
def adder(a,b):
    c = a+b
    d = a-b
    return c,d
    
num = adder(23,544)
print(num , type(num))

(567, -521) <class 'tuple'>

In [67]:
def adder(a,b):
    c = a+b
    d = a-b
    return c
    return d
    
num = adder(23,544)
print(num , type(num))

567 <class 'int'>

# Global and local variables

In [1]:
x = 10
y = 20

def adder(a,b):
    c = a+b
    d = a-b
    print(c)
    print(d)
    
adder(12,32)


print(x)
print(y)
print(a)
print(b)
print(c)
print(d)

44
-20
10
20

NameError: name 'a' is not defined

In [ ]:
# Anonymous function ( function without a name )

- syntax
        lambda arg : expression

# NOTE:- Lambda can take n number of args but only one expression

In [2]:
def adder(a,b):
    c = a+b
    return c
    
num = adder(23,544)
print(num , type(num))

567 <class 'int'>

In [3]:
# 

var = lambda a,b: a+b

In [4]:
var(20 , 50)

70

In [5]:
var = (lambda a,b: a+b)(20,50)

In [6]:
var

70

In [7]:
# built a function to find a number is even or not

def even_number(a):
    if a%2 ==0:
        return 'even'
    else:
        return 'odd'

In [8]:
even_number(253)

'odd'

In [9]:
x = (lambda a: 'even' if a%2 ==0 else 'odd')(10)
x

'even'

# Map

- The map takes 2 args

1. function
2. a seq iterable

map(function , iter )

In [15]:
# 

temp_cel = 32

# (9/5)*t +32

def temp_converter(t):
    return (9/5)*t +32

temp_converter(temp_cel)

89.6

In [17]:
def temp_converter(t):
    return (9/5)*t +32

temp_cel = [32 ,34 ,35, 36 , 40]

list(map(temp_converter , temp_cel))

[89.6, 93.2, 95.0, 96.8, 104.0]

In [18]:
list(map((lambda x: (9/5)*x +32) , temp_cel))

[89.6, 93.2, 95.0, 96.8, 104.0]

In [20]:
# Task 1
a = [1,2,3,4,5]
b = [6,7,8,9,10]

list(map((lambda x,y : x+y) , a,b))

[7, 9, 11, 13, 15]

In [23]:
# extract the usernames from the list
lst = ['akzelxw@hotmail.com',
'elum@gmail.com',
'akbar.caakaterasu@gmail.com',
'akarui.kibuno@gmail.com',
'ajsparkchick@hotmail.com',
'ajmeia@yahoo.com',
'ajhnstn87@gmail.com',
'ailuvzhoko4@hotmail.com',
'ailuvzhoko3@hotmail.com',
'ailuvzhoko2@hotmail.com',
'ailuvzhoko@hotmail.com',
'aillensiquioco@aol.com',
'ahmovic_ines@hotmail.com',
'ahmed_g300@yahoo.com',
'ahmadjazlan@gmail.com',
'ahmad_ridho19@yahoo.com']

In [21]:
mail = 'ahmad_ridho19@yahoo.com'


def user_extracter(a):
    return a.split('@')[0]


user_extracter(mail)

'ahmad_ridho19'

In [25]:
list(map(user_extracter , lst))

['akzelxw',
 'elum',
 'akbar.caakaterasu',
 'akarui.kibuno',
 'ajsparkchick',
 'ajmeia',
 'ajhnstn87',
 'ailuvzhoko4',
 'ailuvzhoko3',
 'ailuvzhoko2',
 'ailuvzhoko',
 'aillensiquioco',
 'ahmovic_ines',
 'ahmed_g300',
 'ahmadjazlan',
 'ahmad_ridho19']

In [27]:
# extract the usernames from the list
lst = ['akzelxw@hotmail.com',
'elum@gmail.com',
'akbar.caakaterasu@gmail.com',
'akarui.kibuno@gmail.com',
'ajsparkchick@hotmail.com',
'ajmeia@yahoo.com',
'ajhnstn87@gmail.com',
'ailuvzhoko4@hotmail.com',
'ailuvzhoko3@hotmail.com',
'ailuvzhoko2@hotmail.com',
'ailuvzhoko@hotmail.com',
'aillensiquioco@aol.com',
'ahmovic_ines@hotmail.com',
'ahmed_g300@yahoo.com',
'ahmadjazlan@gmail.com',
'ahmad_ridho19@yahoo.com']

list(map(lambda a: a.split('@')[0] , lst))

['akzelxw',
 'elum',
 'akbar.caakaterasu',
 'akarui.kibuno',
 'ajsparkchick',
 'ajmeia',
 'ajhnstn87',
 'ailuvzhoko4',
 'ailuvzhoko3',
 'ailuvzhoko2',
 'ailuvzhoko',
 'aillensiquioco',
 'ahmovic_ines',
 'ahmed_g300',
 'ahmadjazlan',
 'ahmad_ridho19']

In [33]:
# extract the usernames from the list
lst = ['akzelxw@hotmail.com',
'elum@gmail.com',
'akbar.caakaterasu@gmail.com',
'akarui.kibuno@gmail.com',
'ajsparkchick@hotmail.com',
'ajmeia@yahoo.com',
'ajhnstn87@gmail.com',
'ailuvzhoko4@hotmail.com',
'ailuvzhoko3@hotmail.com',
'ailuvzhoko2@hotmail.com',
'ailuvzhoko@hotmail.com',
'aillensiquioco@aol.com',
'ahmovic_ines@hotmail.com',
'ahmed_g300@yahoo.com',
'ahmadjazlan@gmail.com',
'ahmad_ridho19@yahoo.com']

list(map((lambda a: a.split('@')[0] if a.split('@')[1] == 'gmail.com' else None) , lst))

[None,
 'elum',
 'akbar.caakaterasu',
 'akarui.kibuno',
 None,
 None,
 'ajhnstn87',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'ahmadjazlan',
 None]

In [ ]:
if a.split('@')[1] == 'gmail.com':
    a.split('@')[0]

# Filter

- takes 2 args
1. function
2. seq


syntax 
filter(function , seq)

#### Note:- you function should only return True or false 
- Filter will only let the True elements to pass through it

In [38]:
a = [1,2,3,4,5,565,676]


list(map((lambda a: True if a%2 ==0 else False) , a))

[False, True, False, True, False, False, True]

In [39]:
a = [1,2,3,4,5,565,676]


list(filter((lambda a: True if a%2 ==0 else False) , a))

[2, 4, 676]

In [46]:
a = [1,2,3,4,5,565,676]


list(filter((lambda a: a%2 ==0) , a))

[2, 4, 676]

In [48]:
# extract the usernames from the list
lst = ['akzelxw@hotmail.com',
'elum@gmail.com',
'akbar.caakaterasu@gmail.com',
'akarui.kibuno@gmail.com',
'ajsparkchick@hotmail.com',
'ajmeia@yahoo.com',
'ajhnstn87@gmail.com',
'ailuvzhoko4@hotmail.com',
'ailuvzhoko3@hotmail.com',
'ailuvzhoko2@hotmail.com',
'ailuvzhoko@hotmail.com',
'aillensiquioco@aol.com',
'ahmovic_ines@hotmail.com',
'ahmed_g300@yahoo.com',
'ahmadjazlan@gmail.com',
'ahmad_ridho19@yahoo.com']

list(filter(lambda x : '@gmail.com' in x , lst))

['elum@gmail.com',
 'akbar.caakaterasu@gmail.com',
 'akarui.kibuno@gmail.com',
 'ajhnstn87@gmail.com',
 'ahmadjazlan@gmail.com']

In [51]:
# extract the usernames from the list
lst = ['akzelxw@hotmail.com',
'elum@gmail.com',
'akbar.caakaterasu@gmail.com',
'akarui.kibuno@gmail.com',
'ajsparkchick@hotmail.com',
'ajmeia@yahoo.com',
'ajhnstn87@gmail.com',
'ailuvzhoko4@hotmail.com',
'ailuvzhoko3@hotmail.com',
'ailuvzhoko2@hotmail.com',
'ailuvzhoko@hotmail.com',
'aillensiquioco@aol.com',
'ahmovic_ines@hotmail.com',
'ahmed_g300@yahoo.com',
'ahmadjazlan@gmail.com',
'ahmad_ridho19@yahoo.com']

elist = list(filter(lambda x : '@gmail.com' in x , lst))
elist

['elum@gmail.com',
 'akbar.caakaterasu@gmail.com',
 'akarui.kibuno@gmail.com',
 'ajhnstn87@gmail.com',
 'ahmadjazlan@gmail.com']

In [52]:
list(map(lambda a: a.split('@')[0] , elist))

['elum', 'akbar.caakaterasu', 'akarui.kibuno', 'ajhnstn87', 'ahmadjazlan']

In [53]:
# extract the usernames from the list
lst = ['akzelxw@hotmail.com',
'elum@gmail.com',
'akbar.caakaterasu@gmail.com',
'akarui.kibuno@gmail.com',
'ajsparkchick@hotmail.com',
'ajmeia@yahoo.com',
'ajhnstn87@gmail.com',
'ailuvzhoko4@hotmail.com',
'ailuvzhoko3@hotmail.com',
'ailuvzhoko2@hotmail.com',
'ailuvzhoko@hotmail.com',
'aillensiquioco@aol.com',
'ahmovic_ines@hotmail.com',
'ahmed_g300@yahoo.com',
'ahmadjazlan@gmail.com',
'ahmad_ridho19@yahoo.com']

list(map(lambda a: a.split('@')[0], filter(lambda x : '@gmail.com' in x , lst)))

['elum', 'akbar.caakaterasu', 'akarui.kibuno', 'ajhnstn87', 'ahmadjazlan']

# reduce

1. function
2. itreable

- avg , min , max , aggregate

In [56]:
from functools import reduce

In [57]:
a = [1,2,3,4,54,6,7,8,9,0,5,4,3,56]

sum(a)

162

In [58]:
reduce( (lambda a,b: (a+b)) , a)

162

In [ ]:
1,2,3,4,54,6,7,8,9,0,5,4,3,56
3,3,4,54,6,7,8,9,0,5,4,3,56
6,4,54,6,7,8,9,0,5,4,3,56
10,54,6,7,8,9,0,5,4,3,56

In [61]:
# min

a = [1,2,3,4,54,6,7,8,0,9,5,4,3,56]

reduce( (lambda a,b: a if a<b else b ) , a)

0

In [62]:
# max

a = [1,2,3,4,54,6,7,8,0,9,5,4,3,56]

reduce( (lambda a,b: a if a>b else b ) , a)

56

In [63]:
(reduce( (lambda a,b: (a+b)) , a)) / len(a)

11.571428571428571