In [1]:
print(ord('a'))

97

In [ ]:
2       97           1
2       48           0
2       24           0
2       12           0
2        6           0 
2        3           1         
         1

In [2]:
97//2

48

In [3]:
97%2

1

In [ ]:
1100001

In [4]:
print(bin(97))

0b1100001

In [12]:
print(bin(21))

0b10101

In [9]:
print(chr(20))



In [10]:
print(hex(97))

0x61

In [11]:
print(oct(97))

0o141

# Input and output function

In [ ]:
# Input function

- is used to take an input from the user
- Input function will always give you string data type

In [18]:
a = input('Please enter the first number : ')
b = input('Please enter the second number : ')

print(a , type(a))
print(b , type(b))

print(a + b)

Please enter the first number : 10
Please enter the second number : 20
10 <class 'str'>
20 <class 'str'>
1020

In [16]:
'10' + '20'

'1020'

In [17]:
10 + 20

30

# Type casting

- converting one data type to another data type


int()
float()
str()
complex()
bool()

In [19]:
# 1 st 

a = 10

print(float(a))

10.0

In [21]:
# 2 nd

a = float(10)

print(a)

10.0

In [24]:
int(178.567)

178

In [26]:
int(-2.9)

-2

In [27]:
complex(10)

(10+0j)

In [30]:
bool(00000)

False

In [31]:
a = '123'


print(a , type(a))

123 <class 'str'>

In [32]:
a = int('123')


print(a , type(a))

123 <class 'int'>

In [33]:
a = int('123abc')


print(a , type(a))

ValueError: invalid literal for int() with base 10: '123abc'

In [34]:
a = int(20.3)


print(a , type(a))

20 <class 'int'>

In [35]:
a = int('20.3')


print(a , type(a))

ValueError: invalid literal for int() with base 10: '20.3'

In [36]:
a = float('20.3')


print(a , type(a))

20.3 <class 'float'>

In [38]:
a = int(float('123.567'))


print(a , type(a))

123 <class 'int'>

In [40]:
a = int(input('Please enter the first number : '))
b = int(input('Please enter the second number : '))

print(a , type(a))
print(b , type(b))

print(a + b)

Please enter the first number : 10
Please enter the second number : 20
10 <class 'int'>
20 <class 'int'>
30

In [42]:
a = float(input('Please enter the first number : '))
b = int(input('Please enter the second number : '))

print(a , type(a))
print(b , type(b))

print(a + b)

Please enter the first number : 10.3
Please enter the second number : 20
10.3 <class 'float'>
20 <class 'int'>
30.3

In [43]:
a = int('20.3')


print(a , type(a))

ValueError: invalid literal for int() with base 10: '20.3'

In [44]:
a = eval('20.3')


print(a , type(a))

20.3 <class 'float'>

In [45]:
a = eval('123')


print(a , type(a))

123 <class 'int'>

In [49]:
a = eval(input('Please enter the first number : '))
b = eval(input('Please enter the second number : '))

print(a , type(a))
print(b , type(b))

print(a + b)

Please enter the first number : 10
Please enter the second number : 20
10 <class 'int'>
20 <class 'int'>
30

In [53]:
a = eval(input('Please enter the first number : '))
b = eval(input('Please enter the second number : '))

print(a , type(a))
print(b , type(b))

print(a + b)

Please enter the first number : 20,30,40
Please enter the second number : 30,50,60
(20, 30, 40) <class 'tuple'>
(30, 50, 60) <class 'tuple'>
(20, 30, 40, 30, 50, 60)

In [ ]:
1020

In [50]:
'10'+'20'

'1020'

In [ ]:
# 2 input from the user 
- first name
- second name



My first name is abc and second name is xyz

In [ ]:
# concatination

In [55]:
a = input('Enter the first name : ')
b = input('enter the second name : ')

print('My first name is '+a+' and  second name is '+b)

Enter the first name : abc
enter the second name : xyz
My first name is abc and  second name is xyz

In [ ]:
# format string

In [56]:
a = input('Enter the first name : ')
b = input('enter the second name : ')

print('My first name is {} and  second name is {}'.format(a , b))

Enter the first name : abc
enter the second name : xyz
My first name is abc and  second name is xyz

In [57]:
a = input('Enter the first name : ')
b = input('enter the second name : ')

print(f'My first name is {a} and  second name is {b}')

Enter the first name : abc
enter the second name : xyz
My first name is abc and  second name is xyz

In [58]:
a = input('Please enter the emp Id : ')


print('emp_'+a)

Please enter the emp Id : 123
emp_123

In [59]:
a = input('Please enter the emp Id : ')


print('emp_{}'.format(a))

Please enter the emp Id : 123
emp_123

In [60]:
a = input('Please enter the emp Id : ')


print(f'emp_{a}')

Please enter the emp Id : 123
emp_123

In [61]:
a = int(input('Please enter the emp Id : '))


print(f'emp_{a*2}')

Please enter the emp Id : 123
emp_246

# Output function

- print

In [62]:
a = 10
b = 20


print(a)
print(b)

10
20

In [63]:
a = 10
b = 20


print(a , b)

10 20

In [64]:
a = 10
b = 20


print(a , sep = '*****')
print(b)

10
20

In [65]:
a = 10
b = 20


print(a,b , sep = '*****')
print(b)

10*****20
20

In [67]:
a = 10
b = 20


print(a,b , sep = '*****' , end = '--')
print('hello world')

10*****20--hello world

In [69]:
print(a , b ,sep= '\n')

10
20

In [70]:
a = 10
b = 20


print(a , end = '----')
print(b)

10----20

In [71]:
a = 10
b = 20


print(a,b , sep = '*****' , end = '--')
print('hello world')

10*****20--hello world

In [72]:
a = 10
b = 20
c = 30
d = 40
e = 50


print(a,b , sep = '+++' , end = '--')
print(c, sep = '????')
print(d , end = '##')
print(a,b,e, sep = '&&' , end = '%%')

10+++20--30
40##10&&20&&50%%

In [ ]:
10+++20--30
40##10&&20&&50%%

In [76]:
a = input('Enter the first name : ')
b = input('enter the second name : ')

c = 'My first name is '+a+' and  second name is '+b

print(c)

Enter the first name : abc
enter the second name : xyz
My first name is abc and  second name is xyz

In [75]:
a = input('Enter the first name : ')
b = input('enter the second name : ')

print('My first name is',a,'and  second name is ',b)

Enter the first name : abc
enter the second name : xyz
My first name is abc and  second name is  xyz

# String


- Anything that is written inside '..' , ".." , '''..''' , """.."""

In [78]:
a = '123'

print(a , type(a))

123 <class 'str'>

In [79]:
a = 'python'
b = "python"
c = '''python'''
d = """python"""

print(a , type(a))
print(b , type(b))
print(c , type(c))
print(d, type(d))

python <class 'str'>
python <class 'str'>
python <class 'str'>
python <class 'str'>

In [81]:
a = 'This is pythons class'

print(a , type(a))

This is pythons class <class 'str'>

In [82]:
a = 'This is python's class'

print(a , type(a))

SyntaxError: invalid syntax (214377939.py, line 1)

In [83]:
a = "This is python's class"

print(a , type(a))

This is python's class <class 'str'>

In [84]:
a = "This 
is python's 
class"

print(a , type(a))

SyntaxError: EOL while scanning string literal (1557538177.py, line 1)

In [85]:
a = '''This 
is python's 
class'''

print(a , type(a))

This
is python's
class <class 'str'>

# Indexing and slicing

# Indexing

- Accessing 1 char at a time
- +ve index starts from 0 direction L -R
- -ve index starts from -1 direction R-L

In [86]:
a = 'python'


print(a[4])

o

In [87]:
a = 'python'


print(a[-1])

n

In [ ]:
# Slicing

- accessiong multiple char at a time

syntax : var[start index : stop index : step]

by default you step 1

start idex --> inclusive
stop index --> exclusive


var [:]
by default the start is 0
stop end of the string

var [::-1]
by default the start is -1
start of the string

In [89]:
a = 'data science'


# +ve 
print(a[:4]) # 

# -ve
print(a[-12:-8])

data
data

In [92]:
a = 'data science'


# +ve 
print(a[:4:-1]) # 

# -ve
print(a[-1:-8:-1])

ecneics
ecneics

In [93]:
a = 'data science'

# -ve
print(a[-1:-8:1])

In [95]:
a = 'data science'

# -ve
print(a[11:-8:-1])

ecneics

In [96]:
a = 'data science'

# -ve
print(a[::])

data science

In [97]:
a = 'data science'

# -ve
print(a[::-1])

ecneics atad

In [104]:
a = 'data science'

# d -1
# space 4
print(a[-12:4]) # 1

data

In [103]:
a = 'data science'

# d -1
# space 4
print(a[-12:-8]) # 1

data

In [ ]:
date = '2015-07-31'


day = 
month = 
year = 

print(day)
print(month)
print(day)

# Step