# To replace nth chr or word

In [15]:
a = 'this is python , python is a programing language , python is easy'
elist = []
occurence = 0

for i,j in enumerate(a.split()):
    if j == 'python':
        occurence +=1 
        if occurence == 3:
            j = 'java'
    elist.append(j)
    
' '.join(elist)

'this is python , python is a programing language , java is easy'

In [16]:
def supper_replace(string, old, new, n=1, option='nth'):
    """
    This function replaces occurrences of string 'old' with string 'new'.
    There are three types of replacement of string 'old':
    1) 'nth' replaces only nth occurrence (default).
    2) 'left' replaces nth occurrence and all occurrences to the left.
    3) 'right' replaces nth occurrence and all occurrences to the right.
    """
    if option == 'nth':
        left_join = old
        right_join = old
    elif option == 'left':
        left_join = new
        right_join = old
    elif option == 'right':
        left_join = old
        right_join = new
    else:
        print("Invalid option. Please choose from: 'nth' (default), 'left' or 'right'")
        return None
    groups = string.split(old)
    nth_split = [left_join.join(groups[:n]), right_join.join(groups[n:])]
    return new.join(nth_split)

In [20]:
a = 'this is python , python is a programing language , python is easy'


supper_replace(a , 'python' , 'java' , 2 , 'right')

'this is python , java is a programing language , java is easy'

In [25]:
import re
def replace_ith_instance(string, pattern, new_str, i = None, pattern_flags = 0):
    # If i is None - replacing last occurrence
    match_obj = re.finditer(r'{0}'.format(pattern), string, flags = pattern_flags)
    matches = [item for item in match_obj]
    if i == None:
        i = len(matches)
    if len(matches) == 0 or len(matches) < i:
        return string
    match = matches[i - 1]
    match_start_index = match.start()
    match_len = len(match.group())

    return '{0}{1}{2}'.format(string[0:match_start_index], new_str, string[match_start_index + match_len:])
str_1 = 'this is pythons class pythons , pythons'

ns = replace_ith_instance(a, 'python', 'java', 2)
print(ns)

this is python , java is a programing language , python is easy

# Properties of list



- Seq data type 
- indexing (accessing one elelemnt at a time
- slicing (multiple elements at a time)
- support +ve and -ve indexing
- Mutable 
- allows duplication
- It is hetrogenous ---> can store mutiple data types
- concatination
- membership
- repetation
- identity

# Mutable

In [26]:
lst = ['a' , 'b' , 'c' , 'd' , 'e']


lst[1] = 'g'
lst

['a', 'g', 'c', 'd', 'e']

In [27]:
lst = ['a' , 12 , 12.4 , None , 10+3j , [1,2,3]]
lst

['a', 12, 12.4, None, (10+3j), [1, 2, 3]]

In [28]:
# Concatination
# op -- +
# operands ---> both the operands should be a list


a = [1,2,3]
b = [4,5,6]

print(a+b)

[1, 2, 3, 4, 5, 6]

In [37]:
# repetation
# op -- *
# operands ---> one should be a list and another should be a int


a = [1,2,3]
b = 3

print(a*b)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [38]:
# membership
# op -- in and not in
# if that element is present in the list


a = [1,2,3,4,5,67]


print(3 in a)

True

In [39]:

a = [1,2,3,4,5,67]


print(3 not in a)

False

In [42]:

a = ['Jyoti' , 'Kavita' , 'Kiran' , 'Mamtha']


print('kavita' in a)

False

In [44]:
# Identity
# op ----> is and is not


a = [1,2,3]
b = [1,2,3]

print(id(a))
print(id(b))
print(a is b)

1611806966976
1611806930560
False

In [47]:
# Identity
# op ----> is and is not


a = [1,2,3]
b = [1,2,3]

print(id(a[0]))
print(id(b[0]))
print(a[0] is b[0])

1611682048304
1611682048304
True

# Nested list


- list inside a list

In [ ]:
a = [1,2,3,4,6,7] # list

b = [1,2,3, [5,6,7]] # nested list

In [48]:
a = [1,2,3,4,6,7] # list

b = [1,2,3, [5,6,7]] # nested list


print(len(a))
print(len(b))

6
4

In [49]:
a = [1,2,3,34]

a[2]

3

In [51]:
a = [1,2,3 , [4,5,6,7]]

a[3][2]

6

In [55]:
a = [[1,2,3] , 'python' , 'learnbay' , 'a' , 'b']

a[0][-2]

2

In [66]:
nest = [[1,2,3] , [5,6,7] , [8,9,[10 , 'a' , ['python' , 'b']]]]

# 'python'


nest[-1][-1][2][0][::-1]

'nohtyp'

In [65]:
nest[2][2][-1][-2]

'python'

In [69]:
a =   [[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]]

In [ ]:
27, 28, 29

In [71]:
print(a[-2][3:])

[27, 28, 29]

# Methods in list

In [72]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

# Methods to insert elements in a list

- append
- extend 
- insert

# append 

- inserts only 1 element to the list
- inserst only at the last or the end of the list

In [73]:
lst = [1,2,3,4]

lst.append(5)
lst

[1, 2, 3, 4, 5]

In [75]:
lst = [1,2,3,4 , 5, 6,7]

lst.append(12)
lst

[1, 2, 3, 4, 5, 6, 7, 12]

In [76]:
lst = [1,2,3,4 , 5, 6,7]

lst.append(12 , 13)
lst

TypeError: list.append() takes exactly one argument (2 given)

In [77]:
lst = [1,2,3,4 , 5, 6,7]

lst.append([12 , 13])
lst

[1, 2, 3, 4, 5, 6, 7, [12, 13]]

In [ ]:
# extend 

- Inserts n no of elements to the list
- inserst only at the last or the end of the list

In [79]:
a = [1,2,3,4]
b = [5,6,7,7,89,9,0,0]

print(a+b)
print(a)
print(b)

[1, 2, 3, 4, 5, 6, 7, 7, 89, 9, 0, 0]
[1, 2, 3, 4]
[5, 6, 7, 7, 89, 9, 0, 0]

In [82]:
a = [1,2,3,4]
b = [5,6,7,7,89,9,0,0]

a.extend(b)
print(a)
print(b)

[1, 2, 3, 4, 5, 6, 7, 7, 89, 9, 0, 0]
[5, 6, 7, 7, 89, 9, 0, 0]

In [85]:
a = [1,2,3,5,6]


a.extend([[10,7 ], 20])
print(a)

[1, 2, 3, 5, 6, [10, 7], 20]

In [83]:
lst = [1,2,3,4 , 5, 6,7]

lst.append([12 , 13])
lst

[1, 2, 3, 4, 5, 6, 7, [12, 13]]

# insert

- insert elements at any particular index value

In [86]:
a =['a' , 'b' , 'c' , 'd' , 'e']


a.append('f')

a

['a', 'b', 'c', 'd', 'e', 'f']

In [87]:
a =['a' , 'b' , 'c' , 'd' , 'e']


a.insert(3,'f')

a

['a', 'b', 'c', 'f', 'd', 'e']

In [ ]:
# index

In [91]:
a =['a' , 'b' , 'c' , 'd' , 'e']


a.index('c')


a.insert( a.index('c') + 1,'f')
a

['a', 'b', 'c', 'f', 'd', 'e']

In [88]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [93]:
a =['a' , 'b' , 'c' , 'd' , 'e' , 'c' ]


a.index('c' , 3)

5

# Methods to remove the elements from the list

- pop
- remove

In [ ]:
# pop
- will pop the elements from the specified index value 
- if index value not given then by default it'll pop the last element


# you can save the poped elements

In [98]:
a =['a' , 'b' , 'c' , 'd' , 'e' , 'c' ]

a.pop()

'c'

In [99]:
a =['a' , 'b' , 'c' , 'd' , 'e' , 'c' ]

a.pop(-3)

'd'

In [100]:
a =['a' , 'b' , 'c' , 'd' , 'e' , 'c' ]

a.pop(3)

'd'

In [ ]:
# 
- removes the specified element from the list
- It'll remove only the first occurance
- You cannot save the removed elemnts

In [101]:
a =['a' , 'b' , 'c' , 'd' , 'e' , 'c' ]

a.remove('c')

In [102]:
a

['a', 'b', 'd', 'e', 'c']

# reverse

In [104]:
a =[112,543,23,43,56,8789,456,354]

a.reverse()
a

[354, 456, 8789, 56, 43, 23, 543, 112]

# sort

In [105]:
a =[112,543,23,43,56,8789,456,354]

a.sort() # reverse=False
a

[23, 43, 56, 112, 354, 456, 543, 8789]

In [106]:
a =[112,543,23,43,56,8789,456,354]

a.sort(reverse= True) # reverse=False
a

[8789, 543, 456, 354, 112, 56, 43, 23]

In [109]:
a =[112,54.3,2.3,4.3,56,8789,456,354]

a.sort(reverse= True) # reverse=False
a

[8789, 456, 354, 112, 56, 54.3, 4.3, 2.3]

In [111]:
a =[112,54.3,2.3,4.3,56,'8789','456','354']

a.sort(reverse= True) # reverse=False
a

TypeError: '<' not supported between instances of 'int' and 'str'

In [112]:
12> 12+5j

TypeError: '>' not supported between instances of 'int' and 'complex'

# Count

In [107]:
a =['a' , 'b' , 'c' , 'd' , 'e' , 'c' ,  'c'  , 'c' ,  'c'  , 'c' ]



a.count('c')

6

# Clear

In [113]:
a

[112, 54.3, 2.3, 4.3, 56, '8789', '456', '354']

In [114]:
a.clear()

In [115]:
a

[]

In [ ]:
# del

In [117]:
a =['a' , 'b' , 'c' , 'd' , 'e' , 'c' ,  'c'  , 'c' ,  'c'  , 'c' ]

del a

In [118]:
a

NameError: name 'a' is not defined

In [119]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [120]:
a = [11,2,33,14,54,5,6,7]



a.sort() # ascending
a

[2, 5, 6, 7, 11, 14, 33, 54]

In [121]:
a = [11,2,33,14,54,5,6,7]



a.sort(reverse= True) # decnding
a

[54, 33, 14, 11, 7, 6, 5, 2]

In [122]:
a = [11,2,33,14,54,5,6,7]


print(a.sort())

None

In [123]:
a

[2, 5, 6, 7, 11, 14, 33, 54]

In [124]:
a = 'python'

print(a.replace('p' , 'c'))

cython

In [125]:
a

'python'

In [126]:
a = [11,2,33,14,54,5,6,7]


b = a.sort()

print(a)
print(b)

[2, 5, 6, 7, 11, 14, 33, 54]
None

In [129]:
# 

a = [1,2,3,4,6]


print(a.pop(2))

3

In [130]:
print(a)

[1, 2, 4, 6]

In [134]:
a =['a' , 'b' , 'c' , 'd' , 'e' , 'c' ,  'c'  , 'c' ,  'c'  , 'c' ]


a.index('c' , 6)

6

In [136]:
a = [1,2,3,4]

a.extend([76,45,87,879])
print(a)

[1, 2, 3, 4, 76, 45, 87, 879]

# Aliasing , shallow copy and deep copy

In [137]:
a = [1,2,3]
b = [1,2,3]

print(id(a))
print(id(b))

1611813801728
1611813801280

In [138]:
a = [1,2,3,4]

b = a

print(id(a))
print(id(b))

1611813721472
1611813721472

In [139]:
a = [1,2,3,4]

b = a # aliasing

print(id(a))
print(id(b))

b[0] = 999


print(a)
print(b)

1611812660288
1611812660288
[999, 2, 3, 4]
[999, 2, 3, 4]

# Shallow copy

In [141]:
a = [1,2,3,4,5]
b = a.copy() # shallow copy


print(id(a))
print(id(b))

b[0] = 999


print(a)
print(b)

1611813864320
1611813798400
[1, 2, 3, 4, 5]
[999, 2, 3, 4, 5]

In [143]:
a = [1,2,3,[7,8]]
b = a.copy()


print(id(a))
print(id(b))

print('---------')

b[0] = 9999


print(a)
print(b)

1611813881664
1611813839104
---------
[1, 2, 3, [7, 8]]
[9999, 2, 3, [7, 8]]

In [149]:
a = [1,2,3,[7,8]]
b = a.copy()

print(id(a))
print(id(b))

print('------')

print(id(a[-1]))
print(id(b[-1]))

print('---------')

b[-1][-1] = 9999


print(a)
print(b)

1611811819712
1611812803136
------
1611812692096
1611812692096
---------
[1, 2, 3, [7, 9999]]
[1, 2, 3, [7, 9999]]

# Deep copy

In [146]:
from copy import deepcopy

In [148]:
a = [1,2,3,[7,8]]
b = deepcopy(a)

print(id(a))
print(id(b))

print('------------')

print(id(a[-1]))
print(id(b[-1]))


b[-1][-1] =  999


print(a)
print(b)

1611813932608
1611813864320
------------
1611813418368
1611813801728
[1, 2, 3, [7, 8]]
[1, 2, 3, [7, 999]]

In [167]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

# For loop

In [ ]:
syntax 


for var in iterables:
    stat1
    stat2
    stat3
stat4

In [ ]:
# to find which data type you can take as an iterable


- len() --> should work
- print(dir(object))

In [178]:
print(dir(int))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [175]:
len([1,2,34])

3

In [172]:
for i in 10+3j:
    print(i)

TypeError: 'complex' object is not iterable

In [179]:
for var in ['a' , 'b' , 'c']:
    print(var)

a
b
c

In [180]:
for var in ['a' , 'b' , 'c']:
    print('Python')

Python
Python
Python

In [ ]:
for iteration 1
var    'a'
print('')


for iteration 2
var    'b'


for iteration 3
var    'c'

In [182]:
for var in 'abcd':
    print(var)

a
b
c
d

In [ ]:
# Write a python program to print the table of 2



2    *     1     =     2
2    *     2     =     4
.
.
.
.
2    *    10    =      20

In [ ]:
#