### Slicing (STEP)


- step 
- +n  ---> every nth char from left to right
- -n -----> every nth char from right to left

In [20]:
# +ve index


date = '2015-07-31'


day = date[8:10]
month = date[5:7]
year = date[:4]

print(day)
print(month)
print(year)

31
07
2015

In [23]:
# +ve index


date = '2015-07-31'


day = date[-2:]
month = date[-5:-3]
year = date[-10:-6]

print(day)
print(month)
print(year)

31
07
2015

In [ ]:
1 ---> L-R
-1 ----> R - L

In [26]:
a = '123456789'
# 13579

a[::2]

'13579'

In [28]:
a = '123456789'
# 13579

a[::-2]

'97531'

# Properties of strings


- String is seq data type- It allows you +ve and -ve indexing
- Indexing (Accessing one char)
- slicing (Multiple char)
- concatination
- repetitation
- Identity
- Membership

In [32]:
# Concatination 
# op ---> +
# operands ---> Both should be string


a = 'abc'
b = 'xyz'


print(a+b)

abcxyz

In [33]:

a = 'abc'
b = 123


print(a+b)

TypeError: can only concatenate str (not "int") to str

In [36]:
# repetation 
# op ---> *
# operands ---> One should be a str and the should be an int


a = 'abc'
b = 4

print(a * b)

abcabcabcabc

In [37]:
# Identity 
# op ---> is and is not

a = 'abc'
b = 'abc'

print(id(a))
print(id(b))

2553885160240
2553885160240

In [ ]:
# Object resuability

- A-Z, a-z , 0-9 , _

In [38]:
# Identity 
# op ---> is and is not

a = 'abc xyz'
b = 'abc xyz'

print(id(a))
print(id(b))

2553994473776
2553965880176

In [41]:
# Identity 
# op ---> is and is not

a = 'abc xyz'
b = 'abc xyz'

print(id(a[4]))
print(id(b[4]))

2553883301104
2553883301104

In [42]:
# Identity 
# op ---> is and is not

a = 'abc xyz'
b = 'abc xyz'

print(id(a))
print(id(b))

2553994665584
2553994665200

In [44]:

a = 'abc xyz'
b = 'xyz abc'

print(id(a[0]))
print(id(b[4]))

2553885349552
2553885349552

In [45]:

a = 'abc xyz'
b = 'xyz abc'

print(id(a[1]))
print(id(b[5]))

2553885037424
2553885037424

In [46]:

a = 'abc xyz pqr'
b = 'xyz abc'

print(id(a[3]))
print(id(b[3]))

2553887021232
2553887021232

In [1]:

a = 'abc@xyz'
b = 'xyz@abc'

print(id(a))
print(id(b))

2720470879024
2720470879472

In [3]:

a = 'abc@xyz'
b = 'abc@xyz'

print(id(a[3]))
print(id(b[3]))
print(id(a))
print(id(b))

2720398667888
2720398667888

In [5]:
lst = [1,2,3,4,5]
lst2 = [1,2,3,4,5]


print(id(lst))
print(id(lst2))

2720471201792
2720471186240

In [8]:
lst = 'data science'
lst2 = 'data science'


print(id(lst))
print(id(lst2))

2720470929968
2720470931248

In [9]:
lst = 'data science'
lst2 = 'data science'


print(id(lst[1]))
print(id(lst2[3]))

2720390502000
2720390502000

In [10]:
lst = 'data science'
lst2 = 'data science'


print(id(lst[4]))
print(id(lst2[4]))

2720393222128
2720393222128

In [15]:
lst = 'data_science'
lst2 = 'data_science'


print(id(lst))
print(id(lst2))

2720470901744
2720470901744

In [16]:
lst = 'data_science'
lst2 = 'data_science'


print(id(lst[4]))
print(id(lst2[4]))

2720384982896
2720384982896

In [31]:
lst = 'data_science'
lst2 = 'data_science'


print(id(lst))
print(id(lst2))
print( lst is lst2)

2720471143856
2720471143856
True

In [32]:
lst = 'data_science'
lst2 = 'data_science'



print( lst == lst2)

True

In [1]:
lst = 'data science'
lst2 = 'data science'


print(id(lst))
print(id(lst2))
print( lst is lst2)

2663221611440
2663221417968
False

In [24]:
lst = 'data science'
lst2 = 'data science'


print(id(lst[0:1]))
print(id(lst2[0:1]))


print(id(lst))
print(id(lst2))

2003137208176
2003137208176
2003222524080
2003222799280

# Membership operators

op ---> in and not in
- Tells if a sub string is present in the seq or no
- Always return you bool

In [25]:
a = 'This is python class'

print('p' in a)

True

In [28]:
a = ' This is python class'

print(' This' in a)

True

In [29]:
a = 'This is python class'

print('This' in a)

True

In [30]:
a = 'This is python class'

print('This' not in a)

False

In [35]:
mail = ['xyz@gmail.com' , 'abc@yahoo.com' , 'pqr@gmail.com' , 'sds@hotmail.com']
filter_gmail = []

for i in mail:
    if '@gmail.com' not in i:
        filter_gmail.append(i)
        
        
filter_gmail

['abc@yahoo.com', 'sds@hotmail.com']

In [34]:
print( '@gmail' not in 'xyz@gmail.com')

False

# Note: String is an immutable data type

In [1]:
a = [1,2,3]

a[0] = 'c'

print(a)

['c', 2, 3]

In [37]:
a = 'python'

a[0] = 'c'

print(a)

TypeError: 'str' object does not support item assignment

In [14]:
a = 'this is python class'

b = a.replace('p' , 'c')

In [15]:
a

'this is python class'

In [16]:
b

'this is cython class'

# String methods

In [1]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [21]:
s = 'this is a python class'


# capitalize - It capitalizes first char of your string

print(s.capitalize())

# upper - It converts all the char to upper

print(s.upper())


# lower - It converts all the char to lower

print(s.lower())


# title - It converts all the first char of every word to upper

print(s.title())

This is a python class
THIS IS A PYTHON CLASS
this is a python class
This Is A Python Class

# Methods that return bool values

In [28]:
# Startswith 


a = 'hello world'

print(a.startswith('h'))

print(a.startswith('e'))

print(a.startswith('wor' , 6))

True
False
True

In [31]:
# endswith 


a = 'hello world'

print(a.endswith('d'))
print(a.endswith('world'))

print(a.endswith('world' , 0 , 6))

True
True
False

In [33]:
mail = ['xyz@gmail.com' , 'abc@yahoo.com' , 'pqr@gmail.com' , 'sds@hotmail.com']
filter_gmail = []

for i in mail:
    if i.endswith('gmail.com'):
        filter_gmail.append(i)
        
        
filter_gmail

['xyz@gmail.com', 'pqr@gmail.com']

In [42]:
s1 = 'abc'
s2 = '123abc'
s3 = '*'
s4 = '123'

# isalnum , alpha , number , mix of both
print(s1.isalnum())
print(s2.isalnum())
print(s3.isalnum())
print(s4.isalnum())

print('***********')

# isaplha
print(s1.isalpha())
print(s2.isalpha())
print(s3.isalpha())
print(s4.isalpha())


print('***********')

# isnumeric
print(s1.isnumeric())
print(s2.isnumeric())
print(s3.isnumeric())
print(s4.isnumeric())



print('***********')

# isidentifier
print(s1.isidentifier())
print(s2.isidentifier())
print(s3.isidentifier())
print(s4.isidentifier())

True
True
False
True
***********
True
False
False
False
***********
False
False
False
True
***********
True
False
False
False

In [41]:
123abc = 10

SyntaxError: invalid syntax (3408308467.py, line 1)

In [43]:
s1 = 'abc'
s2 = '123abc'
s3 = '*'
s4 = 'बहे'

# isascii


print(s1.isascii())
print(s2.isascii())
print(s3.isascii())
print(s4.isascii())

True
True
True
False

In [48]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

# Special char and escape char

In [52]:
# \n -=-----> new line

print('hello\nworld')

hello
world

In [53]:
# \t -=-----> tab space

print('hello\tworld')

hello	world

In [ ]:
hello   world

In [55]:
# \b -=-----> backspace -- deletes the previous char

print('hello\bworld')

helloworld

In [54]:
hellworld

NameError: name 'hellworld' is not defined

In [56]:

print('python \blearnbay')

python learnbay

In [57]:
print('ab' + '\b' + 'c')

abc

# Escape char - backslash

\

In [58]:
print('hello\nworld')

hello
world

In [59]:
print('hello\\nworld')

hello\nworld

In [60]:
print('ab' + '\\b' + 'c')

ab\bc

# rawstring

In [65]:
print(r'hello\nworld\thello')

hello\nworld\thello

# Next class on monday