# Loops 
- for loop
- while loop

In [ ]:
# For loop
- For fixed iterations we used for loop



for var in iterable:
    stat1
    stat2
    stat3

In [8]:
a = (1,2,3,43)

print(len(a))
# or
print(dir(a))

4
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [ ]:
# While loop

- if we do not know the iteration 


syntax 
1. initialization
2. condition checking
3. inc / dec

In [11]:
num = 0 # initiaalization
while num<=5: # condition checking
    print('statements')
    num +=1 # inx/ dec

statements
statements
statements
statements
statements
statements

In [10]:
x = 5

x +=1

x

6

In [19]:
a = 'python' 

# p
# yy
# ttt
# hhhh
# ooooo
# nnnnnn

# Algorithm
print(a[0] * 1)
print(a[1] * 2)
print(a[2] * 3)
print(a[3] * 4)
print(a[4] * 5)
print(a[5] * 6)

# for loop 
print('------')

for i in range(0,len(a)):
    print(a[i] * (i+1))


# while loop
print('------')

i = 0
while i< len(a):
    print(a[i] * (i+1))
    i+=1

p
yy
ttt
hhhh
ooooo
nnnnnn
------
p
yy
ttt
hhhh
ooooo
nnnnnn
------
p
yy
ttt
hhhh
ooooo
nnnnnn

In [26]:
# nnnnnn
# ooooo
# hhhh
# ttt
# yy
# p

a = 'python'

print(a[5] * 6)
print(a[4] * 5)
print(a[3] * 4)
print(a[2] * 3)
print(a[1] * 2)
print(a[0] * 1)

# for 
print(' -------- ')
for i in range(len(a) , 0 ,-1):
    print(a[i-1] * i)


# while loop
print(' -------- ')

i = len(a)
while i >= 0:
    print(a[i-1] * i)
    i -= 1

nnnnnn
ooooo
hhhh
ttt
yy
p
 --------
nnnnnn
ooooo
hhhh
ttt
yy
p
 --------
nnnnnn
ooooo
hhhh
ttt
yy
p

# Break, continue and pass

# This keyword is used to break out of the loop

In [28]:
# Break 

a = [1,2,3,4,5,6,7]

for i in a:
    if i == 4:
        break
    print(i)
        
print('Hello')

1
2
3
Hello

In [ ]:
# continue
- keyword is used to end that iteration itself

In [29]:
# continue 

a = [1,2,3,4,5,6,7]

for i in a:
    if i == 4:
        continue
    print(i)
        
print('Hello')

1
2
3
5
6
7
Hello

# Pass

In [31]:
# pass 

a = ['a' ,'b' , 'c' , 'd']

for i in a:
    if i == 'a':
        print(' v1 a')
    if i == 'b':
        pass
    if i == 'c':
        print('v1 c')
    if i == 'd':
        print('v1 d')

 v1 a
v1 c
v1 d

In [35]:
# pass 

a = ['a' ,'b' , 'c' , 'd']

for i in a:
    if i == 'a':
        print('v1 a')
    if i == 'b':
        pass
    if i == 'c':
        print('v1 c')
    if i == 'd':
        print('v1 d')
    if i == 'b':
        print('v1 b')

v1 a
v1 b
v1 c
v1 d

In [33]:
# pass 

a = ['a' ,'b' , 'c' , 'd']

for i in a:
    if i == 'a':
        print(' v1 a')
    if i == 'b':
        continue
    if i == 'c':
        print('v1 c')
    if i == 'd':
        print('v1 d')
    if i == 'b':
        print('v1 b')

 v1 a
v1 c
v1 d

In [34]:
# pass 

a = ['a' ,'b' , 'c' , 'd']

for i in a:
    if i == 'a':
        print('v1 a')
    if i == 'b':
        break
    if i == 'c':
        print('v1 c')
    if i == 'd':
        print('v1 d')
    if i == 'b':
        print('v1 b')

 v1 a

In [42]:
# pass 

a = ['a' ,'b' , 'c' , 'd']

for i in a:
    if i == 'a':
        print('v1 A')
        pass
    if i == 'b':
        pass
        break
    if i == 'c':
        print('v1 C')
    if i == 'd':
        print('v1 D')
    if i == 'b':
        print('v1 B')
    if i == 'a':
        print('v2 A')
    if i == 'c':
        print('V2 C')
    if i == 'd':
        print('v2 D')

v1 A
v2 A

In [ ]:
v1 A
v1 B
v1 C

In [39]:
a = [1,2,3,4]

for i in a:
    if i == 3:
        break
        print('hello')
    print(i)

1
2

# Functions

In [43]:
# task1

a = 'xyz'
if a == a[::-1]:
    print('yes')
else:
    print('no')
    
# task 2 
x = 10
y = 20
print(x + y)

# task 3
a = 'abc'
if a == a[::-1]:
    print('yes')
else:
    print('no')

# Task 4    
x = 30
y = 20
print(x + y)

no
30
no
50

# Best practices
- code should be written in a manner that it is understandable
- code should be written in minimum lines as possible

In [ ]:
# Functions -- DRY (do not repeat yourself)

- function defination --- a place where we define our function
- function call --- we execute the function



# Syntax
1. function defination

    def funct_name(parameters):
        stat1
        stat2
        sat3
        return stat4
    
2. function call 
    funct_name(arguments)
    
# Things which are optional
- parameters 
- return

#### please note: If you have given parameters then you should give the arguments

In [44]:
# create a function

# function defination
def adder():
    print(10+20)

In [45]:
# function call

adder()

30

In [48]:

adder()
adder()
adder()
adder()

30
30
30
30

In [49]:
# create a function

# function defination
def adder(a ,b):
    print(a+b)

In [51]:
adder(20 , 40)

60

In [52]:
# Write a function to check if user given string is an palindrom or not

def palindrom(a):
    if a == a[::-1]:
        print('yes')
    else:
        print('no')

In [53]:
palindrom('level')

yes

In [54]:
# task1

palindrom('xyz')
    
# task 2 
adder(10,20)

# task 3
palindrom('abc')

# Task 4    
adder(20 ,40)

no
30
no
60

# Types of arguments
3 types of arguments


1. positional arguments
   - order is important
   - num of args should match with num of parameters

In [57]:
def emp_info(emp_name , emp_sal , emp_age):
    print('The name of the emp is ' , emp_name)
    print('The salary of the emp is ' , emp_sal)
    print('The age of the emp is ' , emp_age)
    
emp_info('python' , 626253 , 98)

The name of the emp is  python
The salary of the emp is  626253
The age of the emp is  98

In [58]:
def emp_info(emp_name , emp_sal , emp_age):
    print('The name of the emp is ' , emp_name)
    print('The salary of the emp is ' , emp_sal)
    print('The age of the emp is ' , emp_age)
    
emp_info(626253 , 98 ,'python')

The name of the emp is  626253
The salary of the emp is  98
The age of the emp is  python

In [59]:
def emp_info(emp_name , emp_sal , emp_age):
    print('The name of the emp is ' , emp_name)
    print('The salary of the emp is ' , emp_sal)
    print('The age of the emp is ' , emp_age)
    
emp_info( 98 ,'python')

TypeError: emp_info() missing 1 required positional argument: 'emp_age'

# 2. Default arguments

In [61]:
def emp_info(emp_name , emp_sal , emp_age , emp_loc = 'Goa'):
    print('The name of the emp is :' , emp_name)
    print('The salary of the emp is :' , emp_sal)
    print('The age of the emp is :' , emp_age)
    print('The location of the emp is :' , emp_loc)
    
emp_info('python' , 7625635634 ,98)

The name of the emp is : python
The salary of the emp is : 7625635634
The age of the emp is : 98
The location of the emp is : Goa

In [62]:
def emp_info(emp_name , emp_sal , emp_age , emp_loc = 'Goa'):
    print('The name of the emp is :' , emp_name)
    print('The salary of the emp is :' , emp_sal)
    print('The age of the emp is :' , emp_age)
    print('The location of the emp is :' , emp_loc)
    
emp_info('python' , 7625635634 ,98 , 'Bangalore')

The name of the emp is : python
The salary of the emp is : 7625635634
The age of the emp is : 98
The location of the emp is : Bangalore

In [63]:
def emp_info(emp_name , emp_sal , emp_age , emp_loc = 'Goa'):
    print('The name of the emp is :' , emp_name)
    print('The salary of the emp is :' , emp_sal)
    print('The age of the emp is :' , emp_age)
    print('The location of the emp is :' , emp_loc)
    
emp_info('python' , 7625635634 ,98 ,emp_loc= 'Bangalore')

The name of the emp is : python
The salary of the emp is : 7625635634
The age of the emp is : 98
The location of the emp is : Bangalore

In [64]:
def emp_info(emp_name , emp_sal , emp_age , emp_loc = 'Goa' , emp_pin = 535353):
    print('The name of the emp is :' , emp_name)
    print('The salary of the emp is :' , emp_sal)
    print('The age of the emp is :' , emp_age)
    print('The location of the emp is :' , emp_loc)
    print('The pin of the emp is :' , emp_pin)
    
emp_info('python' , 7625635634 ,98)

The name of the emp is : python
The salary of the emp is : 7625635634
The age of the emp is : 98
The location of the emp is : Goa
The pin of the emp is : 535353

In [65]:
def emp_info(emp_name , emp_sal , emp_age , emp_loc = 'Goa' , emp_pin = 535353):
    print('The name of the emp is :' , emp_name)
    print('The salary of the emp is :' , emp_sal)
    print('The age of the emp is :' , emp_age)
    print('The location of the emp is :' , emp_loc)
    print('The pin of the emp is :' , emp_pin)
    
emp_info('python' , 7625635634 ,98 , 'bangalore')

The name of the emp is : python
The salary of the emp is : 7625635634
The age of the emp is : 98
The location of the emp is : bangalore
The pin of the emp is : 535353

In [66]:
def emp_info(emp_name , emp_sal , emp_age , emp_loc = 'Goa' , emp_pin = 535353):
    print('The name of the emp is :' , emp_name)
    print('The salary of the emp is :' , emp_sal)
    print('The age of the emp is :' , emp_age)
    print('The location of the emp is :' , emp_loc)
    print('The pin of the emp is :' , emp_pin)
    
emp_info('python' , 7625635634 ,98 , '' , 93939)

The name of the emp is : python
The salary of the emp is : 7625635634
The age of the emp is : 98
The location of the emp is :
The pin of the emp is : 93939

In [69]:
def emp_info(emp_name , emp_sal , emp_age , emp_loc = 'Goa' , emp_pin = 535353):
    print('The name of the emp is :' , emp_name)
    print('The salary of the emp is :' , emp_sal)
    print('The age of the emp is :' , emp_age)
    print('The location of the emp is :' , emp_loc)
    print('The pin of the emp is :' , emp_pin)
    
emp_info('python' , 7625635634 ,98, 93939)

The name of the emp is : python
The salary of the emp is : 7625635634
The age of the emp is : 98
The location of the emp is : 93939
The pin of the emp is : 535353

In [70]:
def emp_info(emp_name , emp_sal , emp_age , emp_loc = 'Goa' , emp_pin = 535353):
    print('The name of the emp is :' , emp_name)
    print('The salary of the emp is :' , emp_sal)
    print('The age of the emp is :' , emp_age)
    print('The location of the emp is :' , emp_loc)
    print('The pin of the emp is :' , emp_pin)
    
emp_info('python' , 7625635634 ,98,'Goa' ,93939)

The name of the emp is : python
The salary of the emp is : 7625635634
The age of the emp is : 98
The location of the emp is : Goa
The pin of the emp is : 93939

In [71]:
def emp_info(emp_name , emp_sal , emp_age , emp_loc = 'Goa' , emp_pin = 535353):
    print('The name of the emp is :' , emp_name)
    print('The salary of the emp is :' , emp_sal)
    print('The age of the emp is :' , emp_age)
    print('The location of the emp is :' , emp_loc)
    print('The pin of the emp is :' , emp_pin)
    
emp_info('python' , 7625635634 ,98, emp_pin= 93939)

The name of the emp is : python
The salary of the emp is : 7625635634
The age of the emp is : 98
The location of the emp is : Goa
The pin of the emp is : 93939

# Note

### If there is a combination of positional and default arg, then default args should be followed posible args

In [73]:
def emp_info(emp_name , emp_sal , emp_age , emp_loc = 'Goa' , emp_pin = 535353):
    print('The name of the emp is :' , emp_name)
    print('The salary of the emp is :' , emp_sal)
    print('The age of the emp is :' , emp_age)
    print('The location of the emp is :' , emp_loc)
    print('The pin of the emp is :' , emp_pin)
    
emp_info(emp_pin= 93939 ,'python' , 7625635634 ,98)

SyntaxError: positional argument follows keyword argument (1727065678.py, line 8)

In [74]:
def emp_info(emp_pin = 535353 , emp_name , emp_sal , emp_age , emp_loc = 'Goa' ):
    print('The name of the emp is :' , emp_name)
    print('The salary of the emp is :' , emp_sal)
    print('The age of the emp is :' , emp_age)
    print('The location of the emp is :' , emp_loc)
    print('The pin of the emp is :' , emp_pin)
    
emp_info(emp_pin= 93939 ,'python' , 7625635634 ,98)

SyntaxError: non-default argument follows default argument (297730604.py, line 1)

# Keyword arg
- You have to call the keyword for every positional arg

In [78]:
def emp_info(emp_name , emp_sal , emp_age , emp_loc = 'Goa' , emp_pin = 535353):
    print('The name of the emp is :' , emp_name)
    print('The salary of the emp is :' , emp_sal)
    print('The age of the emp is :' , emp_age)
    print('The location of the emp is :' , emp_loc)
    print('The pin of the emp is :' , emp_pin)
    
emp_info(emp_sal = 7625635634 ,emp_age=98 , emp_name ='python' )

The name of the emp is : python
The salary of the emp is : 7625635634
The age of the emp is : 98
The location of the emp is : Goa
The pin of the emp is : 535353

In [80]:
# create a function

# function defination
def adder(a ,b):
    print(a+b)
adder(20, 40)

60

In [ ]:
adder(20, 40 ,5,67,8,89)

In [87]:
def adder(a):
    print(sum(a))
    
    
    
adder((20, 40 , 50 , 38))

148

In [ ]:
# Variable length args


1. *args ---> takes variable length posional args and store it in for if tuple
2. **kwargs ---> Takes the varable length keyword args and store it in form of dic

In [91]:
def adder(*args):
    print(args , type(args))
    
adder(10,20,30)

(10, 20, 30) <class 'tuple'>

In [94]:
def adder(*args , **kwargs):
    print(args , type(args))
    print(kwargs , type(kwargs))
    
adder(10,20,30 , a= 37 , b =587 , c= 832734)

(10, 20, 30) <class 'tuple'>
{'a': 37, 'b': 587, 'c': 832734} <class 'dict'>

In [95]:
# Task

emp_data = {'emp_1': {'age': 24 , 'salary': 626223 , 'name': 'salahuddin'},
           'emp_2': {'age': 23 , 'salary': 96780 , 'name': 'ajay'},
           'emp_3': {'age': 26 , 'salary': 90890 , 'name': 'abhishek'}, 
           'emp_4': {'age': 32 , 'salary': 65756 , 'name': 'anas'}}

In [98]:
age = eval(input('Please enter the age of the employee : '))
salary = eval(input('Please enter the salary of the employee : '))
name = input('Enter the name of the employee : ')

key = f'emp_{len(emp_data)+1}'

emp_data.setdefault(key , {'age':age , 'salary': salary , 'name': name})

Please enter the age of the employee : 987
Please enter the salary of the employee : 9876
Enter the name of the employee : ljkh

{'age': 987, 'salary': 9876, 'name': 'ljkh'}

In [99]:
emp_data

{'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'},
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'},
 'emp_5': {'age': 25, 'salary': 784364, 'name': 'jkhdsfkjs'},
 'emp_6': {'age': 987, 'salary': 9876, 'name': 'ljkh'}}

In [ ]:
# Add as well as remove