# Blocks and Indentation

In [ ]:
stat1
stat2
stat3
stat4
stat5
stat6

1,2,3,4,5,6

stat1
stat2
stat3
if conditi:
    stat7
    stat8
stat4
stat5
stat6


1,2,3,7,8,4,5,6

In [11]:
a = 10


print('Hi')
print('hello')

if a<20:
    print('line1')
    print('line2')
print('world')
print('python')

Hi
hello
line1
line2
world
python

In [14]:
for i in range(5):
    print(i*2)
    print(i-1)
print('Hello')

0
-1
2
0
4
1
6
2
8
3
Hello

# Comments

- To explain you code
- To stop the execution
- To make the code more readable

In [16]:
PI = 3.14 # This is simply defined which has no link

r = 4 # This is an side of a sqaure 


a = r*r # area of  an sqaure
a

16

In [2]:
a = 10
b = 20
c = 30

print(a)
# print(b)
# print(c)

10

In [3]:
'''This 
is a piece of code 
where I am gettting the area'''


PI = 3.14 # This is simply defined which has no link

r = 4 # This is an side of a sqaure 


a = r*r # area of  an sqaure
a

16

In [ ]:
# Datatypes

1. Fundamental
- int
- float
- string
- bool
- none
- complex


2. derived 
- list
- tuple
- dic
- sets

# Integers


- Any value which does not have a decimal point

In [4]:
a = 10

print(a , type(a))

10 <class 'int'>

# Operations which we can perform on int

In [ ]:
# 1. Arithmetic operations + , - , / (float division) , * , ** (exponent) , % (modulus) , // (floor division)

In [5]:
a = 10
b = 20


print(a+b)

30

In [6]:
a = 10
b = 20


print(a-b)

-10

In [7]:
a = 10
b = 5


print(a*b)

50

In [8]:
a = 4
b = 2


print(a ** b)

16

In [9]:
a = 10
b = 2


print(a / b)

5.0

In [10]:
a = 10
b = 9


print(a / b)

1.1111111111111112

In [25]:
a = -20
b = 7


print(a /b)

-2.857142857142857

In [ ]:
floor value              exact value                cieling value


1                           1.66                         2

-3                           -2.8                       -2


1                            1.4                          2

In [26]:
a = -20
b = 7


print(a//b)

-3

In [32]:
a = 11
b = 7

print(a/b)
round(a/b)

1.5714285714285714

2

In [13]:
# modulos

a = 10
b = 5


print(a % b)

0

In [14]:
# modulos

a = 10
b = 3


print(a % b)

1

In [ ]:
# Comparision operators < , > , >= , <=

- Always gives the output in bool
- can be performed on int and float
- can be performed on str and str
- bool

# Cannot be performed 
- cannot be performed on None
- Complex

In [33]:
a = 10
b = 20


print(a < b)

True

In [44]:
a = None # 1
b = 11 # 0


print(a >= b)

TypeError: '>=' not supported between instances of 'NoneType' and 'int'

In [45]:
a = 10+9j # 1
b = 11+6j # 0


print(a >= b)

TypeError: '>=' not supported between instances of 'complex' and 'complex'

In [46]:
a = False # 0
b = True # 1


print(a >= b)

False

# Equality == , !=

In [47]:
a = 11
b = 11


print(a == b)

True

In [48]:
a = 11
b = 12


print(a == b)

False

In [49]:
a = 11
b = '11'


print(a > b)

TypeError: '>' not supported between instances of 'int' and 'str'

In [55]:
a = 11
b = '11.0001'


print(a == b)

False

In [56]:
a = 11
b = 10+45j


print(a == b)

False

In [57]:
a = 11
b = 9


print(a != b)

True

In [58]:
# 

ord('h')

104

In [59]:
bin(104)

'0b1101000'

In [60]:
int(0b1101000)

104

In [61]:
chr(104)

'h'

In [63]:
print('A' <= chr(69))

True

In [65]:
print(65 == chr(104))

False

In [64]:
65 == 'fd'

False

In [68]:
'abc' == 'ABC'

False

In [ ]:
# operator precedence 

() ---> parenthesis
** ---> exponent
+x , -x --> unary plus, unary minus
* , / , // , %
+ , -
<< , >>
&
^
|
== , != , <= , >=
not
and
or

# Logical operators

In [76]:
a = 10


if not ( a == 9 and a<20 or a== 20):
    print('Something')

Something

In [71]:
False and True

False

In [72]:
False or True

True

In [74]:
not False

True

In [75]:
print(a == 9 and a<20 or a== 20)

False

In [101]:
user_name = 'xyz@gmail.com'
password = 'python'

In [105]:
a = input('Please enter the used ID : ')
b = input('Please enter your password : ')


if a == user_name or b == password:
    print('LOGGED IN')
    
else:
    print('INCORRECT INFO')

Please enter the used ID : xyz@gmail.com
Please enter your password : python
LOGGED IN

In [106]:
a = input('Please enter the used ID : ')
b = input('Please enter your password : ')


if a == user_name and b == password:
    print('LOGGED IN')
    
else:
    print('INCORRECT INFO')

Please enter the used ID : xyz@gmail.com
Please enter your password : python
LOGGED IN

In [113]:
a = 10


if a == 20 and a < 40 or a < 40 and a==10:
    print('Something')

Something

In [107]:
False and True

False

In [111]:
False or True

True

In [112]:
True and True

True

# Type casting Of Bool

- int - 0 is False rest all is true
- Float --> 0.0 is false and rest all is true
- complex --> 0+0j is flase 
- None -- False
- string --> empty string is false and rest all is true


[]
()
{}
{}

In [88]:
a = -1236
print(bool(a))

True

In [91]:
print( 10 and 20 )

20

In [90]:
print(10 == 9 and 10<20 or 10== 20)

False

In [89]:
False and True or False

False

In [93]:
print( '' and 20 )

In [ ]:
# There is a small devaition with the 


# A and B  ----> result will be A if A is False else it will be B

# A or B ----> result will be A if A is True else B

In [94]:
print( '' and 20 )

In [95]:
print( 0 and 20 )

0

In [96]:
print( 10 and 20 )

20

In [97]:
print( 10 or 20 )

10

In [98]:
print( 10 and 0 )

0

# Bitwise operator

- Bitwise and &
- bitwise or |
- bitwise xor (^)
- bitwise << left shift
- bitwise >> right shift
- bitwise ~ not

In [99]:
print( 10 and 0 )

0

In [100]:
print( 10 & 0 )

0

In [115]:
# &

x = 10
y = 4

print(x & y)

0

In [114]:
print(bin(10))

0b1010

In [ ]:
10 ------>  1    0    1    0
4  ------>  0    1    0    0


         0     0    0     0

In [116]:
print(0b0000)

0

In [120]:
# &

x = 44
y = 56

print(x & y)

40

In [117]:
print(bin(44))

0b101100

In [118]:
print(bin(56))

0b111000

In [ ]:
1    0     1     1     0     0
1    1     1     0     0     0


1     0       1    0       0     0

In [119]:
int(0b101000)

40

In [121]:
# |

x = 44
y = 56

print(x | y)

60

# Bitwise Left shift