In [26]:
emp_data_existing = {'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'},
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'},
 'emp_5': {'age': 23, 'salary': 454466, 'name': 'hjagsdhja'},
 'emp_6': {'age': 64, 'salary': 78465874, 'name': 'jkfsdhk'},
 'emp_7': {'age': 674, 'salary': 454, 'name': 'klfdghj;sdkjg'},
 'emp_8': {'age': 74, 'salary': 89345, 'name': 'fdjkhgfd'}}


ex_emp = {}

In [28]:
to_remove = input('Enter the emp ID to remove')


ex_emp.setdefault(to_remove , emp_data_existing.pop(to_remove))

ex_emp

Enter the emp ID to removeemp_5

{'emp_7': {'age': 674, 'salary': 454, 'name': 'klfdghj;sdkjg'},
 'emp_5': {'age': 23, 'salary': 454466, 'name': 'hjagsdhja'}}

In [12]:
print('List of current Employees:')
for i in emp_data_existing:
    print(i, emp_data_existing[i])
emp_id=input('\nPlease enter the employee id of the employee who is leaving the company: ')
val=emp_data_existing.pop(emp_id)
ex_emp.setdefault(emp_id,val)
print(f'\n{emp_id} has been successfully removed from current Employee database and added to the Ex-employee database\n')
print('List of ex employees:')
for i in ex_emp:
    print(i, ex_emp[i])

print('\nList of current employees after the update:')
for i in emp_data_existing:
    print(i, emp_data_existing[i])

List of current Employees:
emp_1 {'age': 24, 'salary': 626223, 'name': 'salahuddin'}
emp_2 {'age': 23, 'salary': 96780, 'name': 'ajay'}
emp_3 {'age': 26, 'salary': 90890, 'name': 'abhishek'}
emp_4 {'age': 32, 'salary': 65756, 'name': 'anas'}
emp_6 {'age': 64, 'salary': 78465874, 'name': 'jkfsdhk'}
emp_7 {'age': 674, 'salary': 454, 'name': 'klfdghj;sdkjg'}
emp_8 {'age': 74, 'salary': 89345, 'name': 'fdjkhgfd'}

Please enter the employee id of the employee who is leaving the company: emp_3

emp_3 has been successfully removed from current Employee database and added to the Ex-employee database

List of ex employees:
emp_5 {'age': 23, 'salary': 454466, 'name': 'hjagsdhja'}
emp_3 {'age': 26, 'salary': 90890, 'name': 'abhishek'}

List of current employees after the update:
emp_1 {'age': 24, 'salary': 626223, 'name': 'salahuddin'}
emp_2 {'age': 23, 'salary': 96780, 'name': 'ajay'}
emp_4 {'age': 32, 'salary': 65756, 'name': 'anas'}
emp_6 {'age': 64, 'salary': 78465874, 'name': 'jkfsdhk'}
emp_7 {'age': 674, 'salary': 454, 'name': 'klfdghj;sdkjg'}
emp_8 {'age': 74, 'salary': 89345, 'name': 'fdjkhgfd'}

In [13]:
ex_emp

{'emp_5': {'age': 23, 'salary': 454466, 'name': 'hjagsdhja'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'}}

In [14]:
emp_data_existing = {'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'},
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'},
 'emp_5': {'age': 23, 'salary': 454466, 'name': 'hjagsdhja'},
 'emp_6': {'age': 64, 'salary': 78465874, 'name': 'jkfsdhk'},
 'emp_7': {'age': 674, 'salary': 454, 'name': 'klfdghj;sdkjg'},
 'emp_8': {'age': 74, 'salary': 89345, 'name': 'fdjkhgfd'}}

Please enter the emp id to be removed : emp_2
{'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'}, 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'}, 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'}, 'emp_5': {'age': 23, 'salary': 454466, 'name': 'hjagsdhja'}, 'emp_6': {'age': 64, 'salary': 78465874, 'name': 'jkfsdhk'}, 'emp_7': {'age': 674, 'salary': 454, 'name': 'klfdghj;sdkjg'}, 'emp_8': {'age': 74, 'salary': 89345, 'name': 'fdjkhgfd'}}
{'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'}}

In [16]:


emp_id = input("Please enter the emp id to be removed : ")

ex_emp[emp_id] = emp_data_existing[emp_id]


emp_data_existing.pop(emp_id)

print(emp_data_existing)
print(ex_emp)

Please enter the emp id to be removed : emp_5
{'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'}, 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'}, 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'}, 'emp_6': {'age': 64, 'salary': 78465874, 'name': 'jkfsdhk'}, 'emp_7': {'age': 674, 'salary': 454, 'name': 'klfdghj;sdkjg'}, 'emp_8': {'age': 74, 'salary': 89345, 'name': 'fdjkhgfd'}}
{'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'}, 'emp_5': {'age': 23, 'salary': 454466, 'name': 'hjagsdhja'}}

In [17]:
ex_emp

{'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_5': {'age': 23, 'salary': 454466, 'name': 'hjagsdhja'}}

In [19]:
a = {'a':1}

In [20]:
a['b'] = 12

In [21]:
a

{'a': 1, 'b': 12}

In [39]:
#

print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# Keys , items , values

In [40]:
emp_data_existing = {'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'},
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'},
 'emp_5': {'age': 23, 'salary': 454466, 'name': 'hjagsdhja'},
 'emp_6': {'age': 64, 'salary': 78465874, 'name': 'jkfsdhk'},
 'emp_7': {'age': 674, 'salary': 454, 'name': 'klfdghj;sdkjg'},
 'emp_8': {'age': 74, 'salary': 89345, 'name': 'fdjkhgfd'}}

In [41]:
emp_data_existing.keys()

dict_keys(['emp_1', 'emp_2', 'emp_3', 'emp_4', 'emp_5', 'emp_6', 'emp_7', 'emp_8'])

In [44]:
for i in emp_data_existing.keys():
    print(i)

emp_1
emp_2
emp_3
emp_4
emp_5
emp_6
emp_7
emp_8

In [42]:
(emp_data_existing.values())

dict_values([{'age': 24, 'salary': 626223, 'name': 'salahuddin'}, {'age': 23, 'salary': 96780, 'name': 'ajay'}, {'age': 26, 'salary': 90890, 'name': 'abhishek'}, {'age': 32, 'salary': 65756, 'name': 'anas'}, {'age': 23, 'salary': 454466, 'name': 'hjagsdhja'}, {'age': 64, 'salary': 78465874, 'name': 'jkfsdhk'}, {'age': 674, 'salary': 454, 'name': 'klfdghj;sdkjg'}, {'age': 74, 'salary': 89345, 'name': 'fdjkhgfd'}])

In [55]:
for i in emp_data_existing.values():
    print(i)

{'age': 24, 'salary': 626223, 'name': 'salahuddin'}
{'age': 23, 'salary': 96780, 'name': 'ajay'}
{'age': 26, 'salary': 90890, 'name': 'abhishek'}
{'age': 32, 'salary': 65756, 'name': 'anas'}
{'age': 23, 'salary': 454466, 'name': 'hjagsdhja'}
{'age': 64, 'salary': 78465874, 'name': 'jkfsdhk'}
{'age': 674, 'salary': 454, 'name': 'klfdghj;sdkjg'}
{'age': 74, 'salary': 89345, 'name': 'fdjkhgfd'}

In [43]:
emp_data_existing.items()

dict_items([('emp_1', {'age': 24, 'salary': 626223, 'name': 'salahuddin'}), ('emp_2', {'age': 23, 'salary': 96780, 'name': 'ajay'}), ('emp_3', {'age': 26, 'salary': 90890, 'name': 'abhishek'}), ('emp_4', {'age': 32, 'salary': 65756, 'name': 'anas'}), ('emp_5', {'age': 23, 'salary': 454466, 'name': 'hjagsdhja'}), ('emp_6', {'age': 64, 'salary': 78465874, 'name': 'jkfsdhk'}), ('emp_7', {'age': 674, 'salary': 454, 'name': 'klfdghj;sdkjg'}), ('emp_8', {'age': 74, 'salary': 89345, 'name': 'fdjkhgfd'})])

In [47]:
for i,j in emp_data_existing.items():
    print(i , j)

emp_1 {'age': 24, 'salary': 626223, 'name': 'salahuddin'}
emp_2 {'age': 23, 'salary': 96780, 'name': 'ajay'}
emp_3 {'age': 26, 'salary': 90890, 'name': 'abhishek'}
emp_4 {'age': 32, 'salary': 65756, 'name': 'anas'}
emp_5 {'age': 23, 'salary': 454466, 'name': 'hjagsdhja'}
emp_6 {'age': 64, 'salary': 78465874, 'name': 'jkfsdhk'}
emp_7 {'age': 674, 'salary': 454, 'name': 'klfdghj;sdkjg'}
emp_8 {'age': 74, 'salary': 89345, 'name': 'fdjkhgfd'}

In [50]:
emp_data_existing

{'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'},
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'},
 'emp_5': {'age': 23, 'salary': 454466, 'name': 'hjagsdhja'},
 'emp_6': {'age': 64, 'salary': 78465874, 'name': 'jkfsdhk'},
 'emp_7': {'age': 674, 'salary': 454, 'name': 'klfdghj;sdkjg'},
 'emp_8': {'age': 74, 'salary': 89345, 'name': 'fdjkhgfd'}}

In [52]:
print('age' in emp_data_existing.values())

False

In [53]:
emp_data_existing.values()

dict_values([{'age': 24, 'salary': 626223, 'name': 'salahuddin'}, {'age': 23, 'salary': 96780, 'name': 'ajay'}, {'age': 26, 'salary': 90890, 'name': 'abhishek'}, {'age': 32, 'salary': 65756, 'name': 'anas'}, {'age': 23, 'salary': 454466, 'name': 'hjagsdhja'}, {'age': 64, 'salary': 78465874, 'name': 'jkfsdhk'}, {'age': 674, 'salary': 454, 'name': 'klfdghj;sdkjg'}, {'age': 74, 'salary': 89345, 'name': 'fdjkhgfd'}])

# fromkeys

In [57]:
a = [1,2,3,4,5,6]


d = dict.fromkeys(a)

In [58]:
d

{1: None, 2: None, 3: None, 4: None, 5: None, 6: None}

In [59]:
a = [1,2,3,4,5,6]


d = dict.fromkeys(a , [1,2])

In [60]:
d

{1: [1, 2], 2: [1, 2], 3: [1, 2], 4: [1, 2], 5: [1, 2], 6: [1, 2]}

In [70]:
a = range(0,101)


d = dict.fromkeys(a , 0)

In [71]:
print(d)

{0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0, 13: 0, 14: 0, 15: 0, 16: 0, 17: 0, 18: 0, 19: 0, 20: 0, 21: 0, 22: 0, 23: 0, 24: 0, 25: 0, 26: 0, 27: 0, 28: 0, 29: 0, 30: 0, 31: 0, 32: 0, 33: 0, 34: 0, 35: 0, 36: 0, 37: 0, 38: 0, 39: 0, 40: 0, 41: 0, 42: 0, 43: 0, 44: 0, 45: 0, 46: 0, 47: 0, 48: 0, 49: 0, 50: 0, 51: 0, 52: 0, 53: 0, 54: 0, 55: 0, 56: 0, 57: 0, 58: 0, 59: 0, 60: 0, 61: 0, 62: 0, 63: 0, 64: 0, 65: 0, 66: 0, 67: 0, 68: 0, 69: 0, 70: 0, 71: 0, 72: 0, 73: 0, 74: 0, 75: 0, 76: 0, 77: 0, 78: 0, 79: 0, 80: 0, 81: 0, 82: 0, 83: 0, 84: 0, 85: 0, 86: 0, 87: 0, 88: 0, 89: 0, 90: 0, 91: 0, 92: 0, 93: 0, 94: 0, 95: 0, 96: 0, 97: 0, 98: 0, 99: 0, 100: 0}

In [72]:
d[99] = 1

In [73]:
print(d)

{0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0, 13: 0, 14: 0, 15: 0, 16: 0, 17: 0, 18: 0, 19: 0, 20: 0, 21: 0, 22: 0, 23: 0, 24: 0, 25: 0, 26: 0, 27: 0, 28: 0, 29: 0, 30: 0, 31: 0, 32: 0, 33: 0, 34: 0, 35: 0, 36: 0, 37: 0, 38: 0, 39: 0, 40: 0, 41: 0, 42: 0, 43: 0, 44: 0, 45: 0, 46: 0, 47: 0, 48: 0, 49: 0, 50: 0, 51: 0, 52: 0, 53: 0, 54: 0, 55: 0, 56: 0, 57: 0, 58: 0, 59: 0, 60: 0, 61: 0, 62: 0, 63: 0, 64: 0, 65: 0, 66: 0, 67: 0, 68: 0, 69: 0, 70: 0, 71: 0, 72: 0, 73: 0, 74: 0, 75: 0, 76: 0, 77: 0, 78: 0, 79: 0, 80: 0, 81: 0, 82: 0, 83: 0, 84: 0, 85: 0, 86: 0, 87: 0, 88: 0, 89: 0, 90: 0, 91: 0, 92: 0, 93: 0, 94: 0, 95: 0, 96: 0, 97: 0, 98: 0, 99: 1, 100: 0}

In [74]:
# Clear

print(d)

{0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0, 13: 0, 14: 0, 15: 0, 16: 0, 17: 0, 18: 0, 19: 0, 20: 0, 21: 0, 22: 0, 23: 0, 24: 0, 25: 0, 26: 0, 27: 0, 28: 0, 29: 0, 30: 0, 31: 0, 32: 0, 33: 0, 34: 0, 35: 0, 36: 0, 37: 0, 38: 0, 39: 0, 40: 0, 41: 0, 42: 0, 43: 0, 44: 0, 45: 0, 46: 0, 47: 0, 48: 0, 49: 0, 50: 0, 51: 0, 52: 0, 53: 0, 54: 0, 55: 0, 56: 0, 57: 0, 58: 0, 59: 0, 60: 0, 61: 0, 62: 0, 63: 0, 64: 0, 65: 0, 66: 0, 67: 0, 68: 0, 69: 0, 70: 0, 71: 0, 72: 0, 73: 0, 74: 0, 75: 0, 76: 0, 77: 0, 78: 0, 79: 0, 80: 0, 81: 0, 82: 0, 83: 0, 84: 0, 85: 0, 86: 0, 87: 0, 88: 0, 89: 0, 90: 0, 91: 0, 92: 0, 93: 0, 94: 0, 95: 0, 96: 0, 97: 0, 98: 0, 99: 1, 100: 0}

In [75]:
d.clear()

In [76]:
d

{}

In [77]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [81]:
a = {'a' : 1}
b = a

print(a)
print(b)

print(id(a))
print(id(b))

{'a': 1}
{'a': 1}
2356173338368
2356173338368

In [83]:
b['a'] = 999

In [84]:
a

{'a': 999}

In [85]:
b

{'a': 999}

In [87]:
a = {'a' : {'h' : 1}}
b = a.copy()

print(a)
print(b)

print(id(a))
print(id(b))

{'a': {'h': 1}}
{'a': {'h': 1}}
2356175609408
2356173616896

In [89]:
a = {'a' : {'h' : 1}}
b = a.copy()

print(a)
print(b)

print(id(a['a']['h']))
print(id(b['a']['h']))

{'a': {'h': 1}}
{'a': {'h': 1}}
2356049635632
2356049635632

In [91]:
b['a']['h'] =99

In [92]:
a

{'a': {'h': 99}}

In [93]:
b

{'a': {'h': 99}}

# Set


- Collection of values and not a seq data type
- indexing and slicing is not possible
- It'll not allow the duplicate values
- It cannot contain any mutable data type eg - list , dict , set
- Set is an mutable data type

In [95]:
a = {1,2,3,54}
print(a , type(a))

{1, 2, 3, 54} <class 'set'>

In [96]:
a = {1,2,2,2,2,2,3,3,3,3,3,54}
print(a , type(a))

{1, 2, 3, 54} <class 'set'>

In [ ]:
1,2,3,54

In [98]:
len(a)

4

In [99]:
a[0]

TypeError: 'set' object is not subscriptable

In [105]:
a = {1,2.3,2,2,2,2,3,3,3,3,3,54 , 10+7j , 'atas' , (1,2,3)  , {'a':1}}
print(a , type(a))

TypeError: unhashable type: 'dict'

In [107]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [109]:
a = {1,2,3,4}

a.add(5)

In [110]:
a

{1, 2, 3, 4, 5}

In [ ]:
a = (1,2,3,4)

In [117]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [119]:
a = 'python'

a.replace('p' , 'c')

'cython'

In [120]:
a

'python'

In [130]:
a = {1,2,3,4 , {1,2,3}}

a.remove(3)

TypeError: unhashable type: 'set'

In [128]:
a

{1, 2, 4}

In [129]:
a[0] = 154

TypeError: 'set' object is not subscriptable

# Conditional statements

- if
- else 
- elif

In [ ]:
stat1
stat2
if condi 1:
    stat6
    stat7
stat3
satat4
stat5


# execution - True - 1,2,6,7,3,4,5

In [ ]:
stat1
stat2
if condi 1:
    stat6
    stat7
else:
    stat8
    stat9
stat3
satat4
stat5


# execution - True - 1,2,6,7,3,4,5
# false - 1,2,8,9,3,4,5

In [ ]:
stat1
stat2
if condi 1:
    stat6
    stat7
else:
    stat14
    stat15

if condi 2:
    stat10
    stat11
    
if condi 3:
    stat12
    stat13
else:
    stat8
    stat9
stat3
satat4
stat5


#cond 1 and 2 are True and rest all are false
1,2,6,7,10,11,8,9,3,4,5

# elif

In [ ]:
stat1
stat2
if condi 1:
    stat6
    stat7
elif condi 2:
    stat14
    stat15

elif condi 3:
    stat10
    stat11
    
elif condi 4:
    stat12
    stat13
else:
    stat8
    stat9
stat3
satat4
stat5

# con1,& 4 are true - 1,2,6,7,3,4,5

In [ ]:
stat1
stat2
if condi 1:
    stat6
    stat7
elif condi 2:
    stat14
    stat15

elif condi 3:
    stat10
    stat11
    
elif condi 4:
    stat12
    stat13
else:
    stat8
    stat9
stat3
satat4
stat5

# all the conditions are false 1,2,8,9,3,4,5

In [133]:
# 

a = 10


if a <20:
    print('Hello')
else:
    print('world')
    
print('Python')

Hello
Python

In [135]:
# 

a = 10


if a >20: # f
    print('Hello')

if a ==20: # f
    print('learn')

if a <20: # T
    print('bay')
    
else:
    print('world')
    
print('Python')

bay
Python

In [136]:
# 

a = 10


if a <20: # 
    print('Hello')

if a ==10: # 
    print('learn')

if a <20: # 
    print('bay')
    
else:
    print('world')
    
print('Python')

Hello
learn
bay
Python

In [137]:
# 

a = 10


if a >20: # 
    print('Hello')
else:
    print('war')

if a ==10: # 
    print('learn')

if 10 == 20: # 
    print('bay')
    
else:
    print('world')
    
print('Python')

war
learn
world
Python

In [138]:
# 

a = 10


if a <20: # 
    print('Hello')

if a ==10: # 
    print('learn')

if a <20: # 
    print('bay')
    
else:
    print('world')
    
print('Python')

Hello
learn
bay
Python

In [139]:
# 

a = 10


if a <20: # 
    print('Hello')

elif a ==10: # 
    print('learn')

elif a <20: # 
    print('bay')
    
else:
    print('world')
    
print('Python')

Hello
Python

In [142]:
# 

a = 10


if a >20: # 
    print('Hello')

elif a !=10: # 
    print('learn')

elif a !=10: # 
    print('bay')
    
else:
    print('world')
    
print('Python')

world
Python

In [ ]:
# take an input from the user 
1 - 6 ---> 
4 ---> four
3 ---> three


user the user is giving an input out of range 
Please enter the values B/w the range of 1 -6

- if the user input in float - Invvalid number

In [155]:
a = eval(input('Enter a number in the range : '))

if a > 6 or a<1:
    print('Please enter the values B/w the range of 1 -6')
else:
    if a == 1:
        print('One')
    elif a ==2:
        print('two')
    elif a ==3:
        print('three')
    elif a ==4:
        print('four')
    elif a ==5:
        print('five')
    elif a ==6:
        print('six')
    else:
        print('Invalid number')

Enter a number in the range : -4
Please enter the values B/w the range of 1 -6

In [160]:
# W a p which tells if a particular input word is an palindrom or not

a = input('Enter the word : ').lower()

if a == a[::-1]:
    print('Palindrom')
else: print('not a palindrom')

Enter the word : Racecar
Palindrom

In [164]:
# Wap find out if a particular year, is an leap year or not
# year divisible by four and not divisible by 100  --> leap
# or
# year divisible by 400 ---> leap year

a = int(input('Enter the year : '))

if (a % 4 == 0) and (a%100 != 0) or (a% 400 == 0):
    print('Leap year')
else:
    print('Not an leap year ')

Enter the year : 1904
Leap year

In [197]:
# design a basic calculator

# a = enter the 1st num
# b = enter the second num
# op = enter the op you want to perform


# + --- addition
# - --- subs
# * ---- multi
# / --- div


# Invalid operator

a = eval(input("Please enter 1st number: "))
b = eval(input("Please enter 2nd number: "))
op = input("Please enter the operator (+, -, *, /)")

if op not in ['+','-','*','/']:
        print("Invalid Operator. Please enter a valid operator(+, -, *, /)")
else: 
    if op == '+':
        print(f'Result : {a+b}')
    elif op == '-':
        print(f'Result : {a-b}')
    elif op == '*':
        print(f'Result : {a*b}')
    else:
        if b == 0:
            print('Cannot divide by zero')
        else: print(f'Result : {a/b}')

Please enter 1st number: 19
Please enter 2nd number: 0
Please enter the operator (+, -, *, /)/
Cannot divide by zero

In [196]:
a = eval(input("Please enter 1st number: "))

print(a, type(a))

Please enter 1st number: 34.8
34.8 <class 'float'>

# Next class on 27 Tue