# Range


- Range is a function used in for loop


syntax -
range (start , stop , step)

Start is inclusive
stop is exclusive


default 
start is 0
stop it has to be given by the user
step is 1

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
# 11 , 20

list(range(11 , 21))

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [6]:
list(range(0 , -10 , -1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [13]:
a = 'python' # +ve

for i in range(len(a)):
    print(i , end = '---')
    print(a[i])

0---p
1---y
2---t
3---h
4---o
5---n

In [24]:
a = 'python' # +ve

for i in range(-len(a),0):
    print(i , end = '---')
    print(a[i])

-6---p
-5---y
-4---t
-3---h
-2---o
-1---n

In [ ]:
-6 , -5

In [21]:
list(range(-7 , 0))

[-7, -6, -5, -4, -3, -2, -1]

In [25]:
list(range(1,20 , 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [29]:
list(range(0 , 51 , 5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [30]:
a = [1,21,3,4]

for i in range(0 , len(a)):
    print(a)

[1, 21, 3, 4]
[1, 21, 3, 4]
[1, 21, 3, 4]
[1, 21, 3, 4]

# Dictionary

In [32]:
emp_data = ['name' , 25 , 454545]


# name of
print('name of the emp  is ' , emp_data[0])


# age of
print('age of the emp  is ' , emp_data[1])



# salary of
print('salary of the emp  is ' , emp_data[2])

name of the emp  is  name
age of the emp  is  25
salary of the emp  is  454545

In [33]:
emp_data = [ 25 , 454545 , 'name']


# name of
print('name of the emp  is ' , emp_data[0])


# age of
print('age of the emp  is ' , emp_data[1])



# salary of
print('salary of the emp  is ' , emp_data[2])

name of the emp  is  25
age of the emp  is  454545
salary of the emp  is  name

# dictionary a structured data type

In [37]:
emp_data = {'Name' : 'xyz' , 'Age' : 63 , 'Salary' : 879623}


# Name

print('name of the emp  is ' ,emp_data['Name'])

# age

print('age of the emp  is ' ,emp_data['Age'])

# Salary

print('salary of the emp  is ' ,emp_data['Salary'])

name of the emp  is  xyz
age of the emp  is  63
salary of the emp  is  879623

In [38]:
emp_data = { 'Age' : 63 , 'Salary' : 879623 , 'Name' : 'xyz' }


# Name

print('name of the emp  is ' ,emp_data['Name'])

# age

print('age of the emp  is ' ,emp_data['Age'])

# Salary

print('salary of the emp  is ' ,emp_data['Salary'])

name of the emp  is  xyz
age of the emp  is  63
salary of the emp  is  879623

# Properties of dic


- It is a collection of key value pair
- a key , value is called as an item
- Items are sep by commas(,)
- Key and value are sep by (:)
- Key cannot be duplicated whereas value duplicated 
- Key cannot be mutable data type (immutable)
- Value can be anything ( mutable / immtable)
- All the items are into curly bracket
- It is not a seq hence concatination , indexing , slicing , repetation will not work
- Membership will work only for the keys
- Identity op are possible 
- It is mutable


### memory - reusability will not work

In [39]:
a = {'a':1 , 'b': 2}
b = {'a':1 , 'b': 2}

print(id(a))
print(id(b))

2154901360512
2154900743104

In [ ]:
# How to create a dic

In [41]:
# 1. You already know the elements

emp_data = {'emp_1': {'age': 24 , 'salary': 626223 , 'name': 'salahuddin'},
           'emp_2': {'age': 34 , 'salary': 65653 , 'name': 'abhishek'}}

print( type(emp_data))

<class 'dict'>

In [42]:
# Taking user input


data = eval(input('Enter a dic : '))

print(data , type(data))

Enter a dic : {1:2 , 3:54}
{1: 2, 3: 54} <class 'dict'>

# 3 type casting - dict()

- Dict function takes a seq of inner seq that should have a pair of 2 elements
- By default it'll take the first element to the key and the secont to its value

In [45]:
a = [(1, 'a') , (2 , 'b') , (3 , 'c')]

print(dict(a))

{1: 'a', 2: 'b', 3: 'c'}

In [54]:
a = ([1, 'a'] , [2 , 'b'] , [3 , 'c'])

print(dict(a))

{1: 'a', 2: 'b', 3: 'c'}

In [47]:
a = 'python'


dict(enumerate(a))

{0: 'p', 1: 'y', 2: 't', 3: 'h', 4: 'o', 5: 'n'}

In [ ]:
# Zip

- Sytax -
zip (iter , iter)

In [50]:
a = [1,2,3,4,5]

b = ['a' , 'b' , 'c' , 'd' , 'e']


dict(zip(b , a))

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [53]:
a = [1,2,3,4]

b = ['a' , 'b' , 'c' , 'd' , 'e']


dict(zip(a,b))

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [ ]:
# - It is a collection of key value pair
# - a key , value is called as an item
# - Items are sep by commas(,)
# - Key and value are sep by (:)

In [60]:
emp_data = {'emp_1': {'age': 24 , 'salary': 626223 , 'name': 'salahuddin'},
           'emp_2': {'age': 34 , 'salary': 65653 , 'name': 'abhishek'},
           'emp_3': {'age': 45 , 'salary': 96780 , 'name': 'ajay'}}

emp_data

{'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 34, 'salary': 65653, 'name': 'abhishek'},
 'emp_3': {'age': 45, 'salary': 96780, 'name': 'ajay'}}

In [61]:
#  Key cannot be duplicated whereas value duplicated

In [62]:
emp_data = {'emp_1': {'age': 24 , 'salary': 626223 , 'name': 'salahuddin'},
           'emp_2': {'age': 34 , 'salary': 65653 , 'name': 'abhishek'},
           'emp_2': {'age': 45 , 'salary': 96780 , 'name': 'ajay'}}

emp_data

{'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 45, 'salary': 96780, 'name': 'ajay'}}

In [63]:
emp_data = {'emp_1': {'age': 24 , 'salary': 626223 , 'name': 'salahuddin'},
           'emp_2': {'age': 45 , 'salary': 96780 , 'name': 'ajay'},
           'emp_3': {'age': 45 , 'salary': 96780 , 'name': 'ajay'}}

emp_data

{'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 45, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 45, 'salary': 96780, 'name': 'ajay'}}

# - Key cannot be mutable data type (immutable)

In [69]:
emp_data = {[1,2,3]: {'age': 24 , 'salary': 626223 , 'name': 'salahuddin'},
           'emp_2': {'age': 45 , 'salary': 96780 , 'name': 'ajay'},
           'emp_2': {'age': 45 , 'salary': 96780 , 'name': 'abhishek'}}

emp_data

TypeError: unhashable type: 'list'

In [70]:
emp_data = {'emp_1': [1,2,3],
           'emp_2': {'age': 45 , 'salary': 96780 , 'name': 'ajay'},
           'emp_3': (1,2,34,5)}

emp_data

{'emp_1': [1, 2, 3],
 'emp_2': {'age': 45, 'salary': 96780, 'name': 'ajay'},
 'emp_3': (1, 2, 34, 5)}

In [73]:
emp_data = {(2,4,5): [1,2,3],
           'emp_2': {'age': 45 , 'salary': 96780 , 'name': 'ajay'},
           'emp_3': (1,2,34,5)}

emp_data

{(2, 4, 5): [1, 2, 3],
 'emp_2': {'age': 45, 'salary': 96780, 'name': 'ajay'},
 'emp_3': (1, 2, 34, 5)}

# Not a seq

In [77]:
emp_data = {'emp_1': {'age': 24 , 'salary': 626223 , 'name': 'salahuddin'},
           'emp_2': {'age': 45 , 'salary': 96780 , 'name': 'ajay'},
           'emp_3': {'age': 45 , 'salary': 96780 , 'name': 'abhishek'}}

emp_data['emp_3']['name']

'abhishek'

In [78]:
# Concatination
emp_data = {'emp_1': {'age': 24 , 'salary': 626223 , 'name': 'salahuddin'},
           'emp_2': {'age': 45 , 'salary': 96780 , 'name': 'ajay'},
           'emp_3': {'age': 45 , 'salary': 96780 , 'name': 'abhishek'}}
emp_data + emp_data

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [79]:
# repetation
emp_data = {'emp_1': {'age': 24 , 'salary': 626223 , 'name': 'salahuddin'},
           'emp_2': {'age': 45 , 'salary': 96780 , 'name': 'ajay'},
           'emp_3': {'age': 45 , 'salary': 96780 , 'name': 'abhishek'}}
emp_data *6

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [81]:
# Memership
a = {'a':2 , 'b':2 , 'c':6}



print(2 in a)

False

In [87]:
emp_data = {'emp_1': {'age': 24 , 'salary': 626223 , 'name': 'salahuddin'},
           'emp_2': {'age': 23 , 'salary': 96780 , 'name': 'ajay'},
           'emp_3': {'age': 26 , 'salary': 90890 , 'name': 'abhishek'}, 
           'emp_4': {'age': 32 , 'salary': 65756 , 'name': 'anas'}}

In [89]:
# extract the names of the emp whose age is <= 25

for i in emp_data:
    if emp_data[i]['age']<= 25:
        print(emp_data[i]['name'])

salahuddin
ajay

# Update the dic

In [94]:
# if the key is present 


emp_data = {'emp_1': {'age': 24 , 'salary': 626223 , 'name': 'salahuddin'},
           'emp_2': {'age': 23 , 'salary': 96780 , 'name': 'ajay'},
           'emp_3': {'age': 26 , 'salary': 90890 , 'name': 'abhishek'}, 
           'emp_4': {'age': 32 , 'salary': 65756 , 'name': 'anas'}}


emp_data['emp_4'] =  {'age': 32 , 'salary': 65756 , 'name': 'toufiq'}


emp_data

{'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'},
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'toufiq'}}

In [95]:
# if the key is present 


emp_data = {'emp_1': {'age': 24 , 'salary': 626223 , 'name': 'salahuddin'},
           'emp_2': {'age': 23 , 'salary': 96780 , 'name': 'ajay'},
           'emp_3': {'age': 26 , 'salary': 90890 , 'name': 'abhishek'}, 
           'emp_4': {'age': 32 , 'salary': 65756 , 'name': 'anas'}}


emp_data['emp_5'] =  {'age': 32 , 'salary': 65756 , 'name': 'toufiq'}


emp_data

{'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'},
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'},
 'emp_5': {'age': 32, 'salary': 65756, 'name': 'toufiq'}}

In [96]:
# methods of dic

print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# Methods to add and access the elements from the dic

- get
- setdefault
- update

# 1. get

In [97]:
# if the key is present

emp_data = {'emp_1': {'age': 24 , 'salary': 626223 , 'name': 'salahuddin'},
           'emp_2': {'age': 23 , 'salary': 96780 , 'name': 'ajay'},
           'emp_3': {'age': 26 , 'salary': 90890 , 'name': 'abhishek'}, 
           'emp_4': {'age': 32 , 'salary': 65756 , 'name': 'anas'}}

emp_data.get('emp_3')

{'age': 26, 'salary': 90890, 'name': 'abhishek'}

In [99]:
# if the key is not present

emp_data = {'emp_1': {'age': 24 , 'salary': 626223 , 'name': 'salahuddin'},
           'emp_2': {'age': 23 , 'salary': 96780 , 'name': 'ajay'},
           'emp_3': {'age': 26 , 'salary': 90890 , 'name': 'abhishek'}, 
           'emp_4': {'age': 32 , 'salary': 65756 , 'name': 'anas'}}

print(emp_data.get('emp_5'))

None

In [100]:
# if the key is not present

emp_data = {'emp_1': {'age': 24 , 'salary': 626223 , 'name': 'salahuddin'},
           'emp_2': {'age': 23 , 'salary': 96780 , 'name': 'ajay'},
           'emp_3': {'age': 26 , 'salary': 90890 , 'name': 'abhishek'}, 
           'emp_4': {'age': 32 , 'salary': 65756 , 'name': 'anas'}}

print(emp_data.get('emp_5' , 'The emp Id you are looking for is not present'))

The emp Id you are looking for is not present

In [101]:
emp_data

{'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'},
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'}}

# Set default

In [103]:
# if the key is present

emp_data = {'emp_1': {'age': 24 , 'salary': 626223 , 'name': 'salahuddin'},
           'emp_2': {'age': 23 , 'salary': 96780 , 'name': 'ajay'},
           'emp_3': {'age': 26 , 'salary': 90890 , 'name': 'abhishek'}, 
           'emp_4': {'age': 32 , 'salary': 65756 , 'name': 'anas'}}

print(emp_data.setdefault('emp_3'))

{'age': 26, 'salary': 90890, 'name': 'abhishek'}

In [104]:
# if the key is not present

emp_data = {'emp_1': {'age': 24 , 'salary': 626223 , 'name': 'salahuddin'},
           'emp_2': {'age': 23 , 'salary': 96780 , 'name': 'ajay'},
           'emp_3': {'age': 26 , 'salary': 90890 , 'name': 'abhishek'}, 
           'emp_4': {'age': 32 , 'salary': 65756 , 'name': 'anas'}}

print(emp_data.setdefault('emp_5'))

None

In [105]:
emp_data

{'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'},
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'},
 'emp_5': None}

In [106]:
# if the key is not present

emp_data = {'emp_1': {'age': 24 , 'salary': 626223 , 'name': 'salahuddin'},
           'emp_2': {'age': 23 , 'salary': 96780 , 'name': 'ajay'},
           'emp_3': {'age': 26 , 'salary': 90890 , 'name': 'abhishek'}, 
           'emp_4': {'age': 32 , 'salary': 65756 , 'name': 'anas'}}

print(emp_data.setdefault('emp_5' , {'age': 32 , 'salary': 65756 , 'name': 'lavanya'}))

{'age': 32, 'salary': 65756, 'name': 'lavanya'}

In [107]:
emp_data

{'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'},
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'},
 'emp_5': {'age': 32, 'salary': 65756, 'name': 'lavanya'}}

# update

In [111]:
# if the key is present

emp_data = {'emp_1': {'age': 24 , 'salary': 626223 , 'name': 'salahuddin'},
           'emp_2': {'age': 23 , 'salary': 96780 , 'name': 'ajay'},
           'emp_3': {'age': 26 , 'salary': 90890 , 'name': 'abhishek'}, 
           'emp_4': {'age': 32 , 'salary': 65756 , 'name': 'anas'}}

print(emp_data.update({'emp_3' : 34}))

None

In [112]:
emp_data

{'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': 34,
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'}}

In [113]:
# if the key is present

emp_data = {'emp_1': {'age': 24 , 'salary': 626223 , 'name': 'salahuddin'},
           'emp_2': {'age': 23 , 'salary': 96780 , 'name': 'ajay'},
           'emp_3': {'age': 26 , 'salary': 90890 , 'name': 'abhishek'}, 
           'emp_4': {'age': 32 , 'salary': 65756 , 'name': 'anas'}}

new_emp = {'emp_5': {'age': 24 , 'salary': 626223 , 'name': 'salahuddin'},
           'emp_6': {'age': 23 , 'salary': 96780 , 'name': 'ajay'}}


emp_data.update(new_emp)

emp_data

{'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'},
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'},
 'emp_5': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_6': {'age': 23, 'salary': 96780, 'name': 'ajay'}}

In [117]:
# 

emp_data = {'emp_1': {'age': 24 , 'salary': 626223 , 'name': 'salahuddin'},
           'emp_2': {'age': 23 , 'salary': 96780 , 'name': 'ajay'},
           'emp_3': {'age': 26 , 'salary': 90890 , 'name': 'abhishek'}, 
           'emp_4': {'age': 32 , 'salary': 65756 , 'name': 'anas'}}

In [128]:
# 1

age = eval(input('Please enter the age of the employee : '))
salary = eval(input('Please enter the salary of the employee : '))
name = input('Enter the name of the employee : ')

key = f'emp_{len(emp_data)+1}'

emp_data.setdefault(key , {'age':age , 'salary': salary , 'name': name})

Please enter the age of the employee : 674
Please enter the salary of the employee : 454
Enter the name of the employee : klfdghj;sdkjg

{'age': 674, 'salary': 454, 'name': 'klfdghj;sdkjg'}

In [129]:
emp_data

{'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'},
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'},
 'emp_5': {'age': 23, 'salary': 454466, 'name': 'hjagsdhja'},
 'emp_6': {'age': 64, 'salary': 78465874, 'name': 'jkfsdhk'},
 'emp_7': {'age': 674, 'salary': 454, 'name': 'klfdghj;sdkjg'}}

In [130]:
# 1

age = eval(input('Please enter the age of the employee : '))
salary = eval(input('Please enter the salary of the employee : '))
name = input('Enter the name of the employee : ')

key = f'emp_{len(emp_data)+1}'
new_details = {key : {'age':age , 'salary': salary , 'name': name}}

emp_data.update(new_details)

Please enter the age of the employee : 74
Please enter the salary of the employee : 89345
Enter the name of the employee : fdjkhgfd

In [131]:
emp_data

{'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'},
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'},
 'emp_5': {'age': 23, 'salary': 454466, 'name': 'hjagsdhja'},
 'emp_6': {'age': 64, 'salary': 78465874, 'name': 'jkfsdhk'},
 'emp_7': {'age': 674, 'salary': 454, 'name': 'klfdghj;sdkjg'},
 'emp_8': {'age': 74, 'salary': 89345, 'name': 'fdjkhgfd'}}

In [ ]:
# Mehods to remove the elements from the dic

- pop
- popitem

In [132]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [134]:
# If the key is present

emp_data = {'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'},
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'},
 'emp_5': {'age': 23, 'salary': 454466, 'name': 'hjagsdhja'},
 'emp_6': {'age': 64, 'salary': 78465874, 'name': 'jkfsdhk'},
 'emp_7': {'age': 674, 'salary': 454, 'name': 'klfdghj;sdkjg'},
 'emp_8': {'age': 74, 'salary': 89345, 'name': 'fdjkhgfd'}}


emp_data.pop('emp_8')

{'age': 74, 'salary': 89345, 'name': 'fdjkhgfd'}

In [135]:
emp_data

{'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'},
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'},
 'emp_5': {'age': 23, 'salary': 454466, 'name': 'hjagsdhja'},
 'emp_6': {'age': 64, 'salary': 78465874, 'name': 'jkfsdhk'},
 'emp_7': {'age': 674, 'salary': 454, 'name': 'klfdghj;sdkjg'}}

In [136]:
# If the key is not present

emp_data = {'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'},
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'},
 'emp_5': {'age': 23, 'salary': 454466, 'name': 'hjagsdhja'},
 'emp_6': {'age': 64, 'salary': 78465874, 'name': 'jkfsdhk'},
 'emp_7': {'age': 674, 'salary': 454, 'name': 'klfdghj;sdkjg'},
 'emp_8': {'age': 74, 'salary': 89345, 'name': 'fdjkhgfd'}}


emp_data.pop('emp_9')

KeyError: 'emp_9'

In [138]:
# If the key is present

emp_data = {'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'},
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'},
 'emp_5': {'age': 23, 'salary': 454466, 'name': 'hjagsdhja'},
 'emp_6': {'age': 64, 'salary': 78465874, 'name': 'jkfsdhk'},
 'emp_7': {'age': 674, 'salary': 454, 'name': 'klfdghj;sdkjg'},
 'emp_8': {'age': 74, 'salary': 89345, 'name': 'fdjkhgfd'}}


emp_data.popitem()

('emp_8', {'age': 74, 'salary': 89345, 'name': 'fdjkhgfd'})

In [139]:
emp_data

{'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'},
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'},
 'emp_5': {'age': 23, 'salary': 454466, 'name': 'hjagsdhja'},
 'emp_6': {'age': 64, 'salary': 78465874, 'name': 'jkfsdhk'},
 'emp_7': {'age': 674, 'salary': 454, 'name': 'klfdghj;sdkjg'}}

# Task

In [140]:
emp_data_existing = {'emp_1': {'age': 24, 'salary': 626223, 'name': 'salahuddin'},
 'emp_2': {'age': 23, 'salary': 96780, 'name': 'ajay'},
 'emp_3': {'age': 26, 'salary': 90890, 'name': 'abhishek'},
 'emp_4': {'age': 32, 'salary': 65756, 'name': 'anas'},
 'emp_5': {'age': 23, 'salary': 454466, 'name': 'hjagsdhja'},
 'emp_6': {'age': 64, 'salary': 78465874, 'name': 'jkfsdhk'},
 'emp_7': {'age': 674, 'salary': 454, 'name': 'klfdghj;sdkjg'},
 'emp_8': {'age': 74, 'salary': 89345, 'name': 'fdjkhgfd'}}

In [ ]:
ex_emp = {'emp_6' : {'age': 64, 'salary': 78465874, 'name': 'jkfsdhk' ,
                    fsodkl}

In [ ]:
trigger

- which employe is leaving the company 
emp_5

In [145]:
#Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
elist = []

for i in list1:
    for j in range(len(list2)):
        elist.append( i + str(list2[j]))

In [146]:
elist

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [149]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
elist = [i + str(list2[j]) for i in list1 for j in range(len(list2)) ]

In [150]:
elist

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']