### <a name='0'></a> Import of libraries

In [ ]:
import numpy as np
import pandas as pd

pd.__version__

### <a name='1'></a> Exercise 1
From the list below:
```
stocks = ['PLW', 'CDR', '11B', 'TEN']
```
Create a Series object.

__Expected result:__

```
0    PLW
1    CDR
2    11B
3    TEN
dtype: object
```

In [ ]:
# enter solution here

### <a name='2'></a> Exercise 2
From the dictionary below:

```
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
```
Create a Series object and assign it to the _quotations_ variable.

__Expected result:__

```
PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64
```

In [ ]:
# enter solution here

### <a name='3'></a> Exercise 3

Convert _quotations_ to a list.

__Expected result:__
```
[387.0, 339.5, 349.5, 391.0]
```

In [ ]:
# enter solution here

### <a name='4'></a> Exercise 4
Convert the _quotations_ object to the _DataFrame_ object. Set the column name to _price_.

In [ ]:
# enter solution here

### <a name='5'></a> Exercise 5
Using the _numpy_ library, build the following _Series_ object:

```
101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64
```

In [ ]:
# enter solution here

### <a name='6'></a> Exercise 6
The following object of type _Series_ is given:
```
series = pd.Series(['001', '002', '003', '004'], list('abcd'))
```
Convert object type _series_ to _int_ values.

In [ ]:
# enter solution here

Convert object type _series_ to _float_ values.

In [ ]:
# enter solution here

### <a name='7'></a> Exercise 7
To the following _quotations_ object:
```
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
```
Add two elements:
* key: BBT, value: 25.5
* key: F51, value: 19.2

__Expected result:__
```
PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64
```

In [ ]:
# enter solution here

### <a name='8'></a> Exercise 8
Convert the _quotations_ object from the previous exercise to an _DataFrame_ object. Reset the index and name the columns '_ticker_' and _'price'_.

In [ ]:
# enter solution here

### <a name='9'></a> Exercise 9

Build the _DataFrame_ object below and assign it to the _companies_ variable:

|    | company   |   price | ticker   |
|---:|:----------|--------:|:---------|
|  0 | Amazon    |  2375   | AMZN.US  |
|  1 | Microsoft |   178.6 | MSFT.US  |
|  2 | Facebook  |   179.2 | FB.US    |

In [ ]:
# enter solution here

### <a name='10'></a> Exercise 10
Convert the first column of the _companies_ object to an index.

In [ ]:
# enter solution here

Extract row for company _Facebook_ from object _companies_.

In [ ]:
# enter solution here

Extract price for _Microsoft_

In [ ]:
# enter solution here

### <a name='1'></a> Exercise 11
Build the _DatetimeIndex_ object containing the `yyyy-mm-dd` format dates for all days from January 2020 and assign it to the _date_range_ variable.

__Expected result:__
```
DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30', '2020-01-31'],
              dtype='datetime64[ns]', freq='D')
```

In [ ]:
# enter solution here

Build the _Series_ object from the _date_range_ variable.

In [ ]:
pd.Series(date_range)

### <a name='2'></a> Exercise 12
Build the _DatetimeIndex_ object containing the dates in the `yyyy-mm-dd` format for all Mondays from 2020 and assign it to the _date_range_ variable.

In [ ]:
# enter solution here

### <a name='3'></a> Exercise 13
Build the _DatetimeIndex_ object containing the dates in the format `yyyy-mm-dd hh: mm: ss` for January 1, 2021 with a time interval of 1h and assign to the variable _date_range_.

__Expected result:__
```
DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 01:00:00',
               '2021-01-01 02:00:00', '2021-01-01 03:00:00',
               '2021-01-01 04:00:00', '2021-01-01 05:00:00',
               '2021-01-01 06:00:00', '2021-01-01 07:00:00',
               '2021-01-01 08:00:00', '2021-01-01 09:00:00',
               '2021-01-01 10:00:00', '2021-01-01 11:00:00',
               '2021-01-01 12:00:00', '2021-01-01 13:00:00',
               '2021-01-01 14:00:00', '2021-01-01 15:00:00',
               '2021-01-01 16:00:00', '2021-01-01 17:00:00',
               '2021-01-01 18:00:00', '2021-01-01 19:00:00',
               '2021-01-01 20:00:00', '2021-01-01 21:00:00',
               '2021-01-01 22:00:00', '2021-01-01 23:00:00'],
              dtype='datetime64[ns]', freq='H')
```

In [ ]:
# enter solution here

### <a name='4'></a> Exercise 14
Build the _DataFrame_ object below.

__Tips:__ The _day_ column contains dates from March 1, 2021 to March 31, 2021. The column _day_of_year_ is the day number of the whole year.

```
      day	       day_of_year
 0	2021-03-01	60
 1	2021-03-02	61
 2	2021-03-03	62
 3	2021-03-04	63
 4	2021-03-05	64
 5	2021-03-06	65
 6	2021-03-07	66
 7	2021-03-08	67
 8	2021-03-09	68
 9	2021-03-10	69
10	2021-03-11	70
11	2021-03-12	71
12	2021-03-13	72
13	2021-03-14	73
14	2021-03-15	74
15	2021-03-16	75
16	2021-03-17	76
17	2021-03-18	77
18	2021-03-19	78
19	2021-03-20	79
20	2021-03-21	80
21	2021-03-22	81
22	2021-03-23	82
23	2021-03-24	83
24	2021-03-25	84
25	2021-03-26	85
26	2021-03-27	86
27	2021-03-28	87
28	2021-03-29	88
29	2021-03-30	89
30	2021-03-31	90
```

In [ ]:
# enter solution here

### <a name='5'></a> Exercise 15

The following _data_dict_ dictionary is given.
```
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}
```
Build the _DateFrame_ object from this dictionary. Additionally, as an index, add a date from 01/01/2020 and assign it to the _df_ variable.

In [ ]:
data_dict = {
    'normal': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}

# enter solution here

### <a name='6'></a> Exercise 16
Display the first 10 rows of the _df_ object from the previous exercise.

In [ ]:
# enter solution here

Display the last 8 rows of the df object from the previous exercise.

In [ ]:
# enter solution here

### <a name='7'></a> Exercise 17
Display basic information about the _df_ object (number of rows, number of columns, type of variables).

In [ ]:
# enter solution here

Display basic statistics of _df_ (mean value, deviation, min, max, median).

In [ ]:
# enter solution here

### <a name='8'></a> Exercise 18
Import the _seaborn_ library for data visualization.

In [ ]:
import seaborn as sns

sns.set()

Using the _pd.DataFrame.plot_ method, build histograms for the next three variables.
* normal (20 bins)

In [ ]:
# enter solution here

* uniform (30 bins)

In [ ]:
# enter solution here

* binomial

In [ ]:
# enter solution here

### <a name='9'></a> Exercise 19
Save the _df_ object to the _'dataframe.csv'_ file.

In [ ]:
# enter solution here

Check the solution

In [ ]:
!head -5 dataframe.csv

### <a name='10'></a> Exercise 20
Load the _dataframe.csv_ file into the _df_new_ variable (remember to load the index correctly).

In [ ]:
# enter solution here

The _fetch_financial_data()_ function fetches data on listed companies. It will be used in the following exercises. To download data of a specific company, you must provide the ticker (symbol) of the company.

Some sample company tickers:
* AMZN - Amazon
* GOOGL - Google
* MSFT - Microsoft
* AAPL - Apple
* NKE - Nike
* WMT - Walmart

In [ ]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetches stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

### <a name='1'></a> Exercise 21
Using the _fetch_financial_data()_ function, download Google (Alphabet) quotes and assign to the variable _google_. Display object _google_.

In [ ]:
# enter solution here

### <a name='2'></a> Exercise 22
Display basic information about _google_ object.

In [ ]:
# enter solution here

Display basic statistics for _google_.

In [ ]:
# enter solution here

Note the precision of individual statistics.
Try setting the appropriate _pandas_ library options to display data with two decimal places.

__Tip:__ 
https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html

In [ ]:
# enter solution here

__Additionally:__
The following setting will also suppress mathematical notation (see column _Volume_).

In [ ]:
pd.options.display.float_format = '{:.2f}'.format
google.describe()

Build a simple chart for _google_ closing price (_Close_)

In [ ]:
# enter solution here

### <a name='3'></a> Exercise 23
Replace the _Date_ index with a column. Permanently assign changes to the _google_.

In [ ]:
# enter solution here

Assign two new columns to the _google_ object by adding a column with the current month number named _'Month'_ and the year named _'Year'_.

In [ ]:
# enter solution here

### <a name='4'></a> Exercise 24
Compute the average closing price (_Close_) for a particular year (group data by year - column _Year_ and then calculate the average value).

In [ ]:
# enter solution here

Present the obtained values on the graph using the _plot()_ method.

In [ ]:
# enter solution here

Compute the average closing price (_Close_) for the month (group data by month - the _Month_ column and then count the average value).

In [ ]:
# enter solution here

Present the obtained values on the graph using the _plot()_ method.
Note which months may indicate weaker periods on the stock market.

In [ ]:
# enter solution here

### <a name='5'></a> Exercise 25
Group data from _google_ at year and month level. Then calculate the average value.

In [ ]:
# enter solution here

### <a name='6'></a> Exercise 26
Find the index for which the _Close_ column has the largest value.

In [ ]:
# enter solution here

Extract the row for this index from the google object as a DataFrame. Read the date.

In [ ]:
# enter solution here

### <a name='7'></a> Exercise 27
Extract the columns _Date_, _Open_, _Close_, _Volume_ from the _google_ object.
Don't change the original _google_ object!

In [ ]:
# enter solution here

### <a name='8'></a> Exercise 28
Set the index for the _Date_ column back. Display object _google_.

In [ ]:
# enter solution here

### <a name='9'></a> Exercise 29
Permanently remove the _Year_ and _Month_ columns from the _google_ object. Display object _google_.

In [ ]:
# enter solution here

### <a name='10'></a> Exercise 30

Assign the following values to the column names:
* Open -> O
* High -> H
* Low -> L
* Close -> C
* Volume -> V

to object _google_. Siaplay object _google_.

In [ ]:
# enter solution here

### <a name='1'></a> Exercise 31

Load the csv file into a DataFrame object named _df_raw_ with the default parameters of the _pd.read_csv()_ function and display the first 5 rows.
File url:
* https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv

In [ ]:
# enter solution here

Copy the _df_raw_ object to the _df_ variable.

In [ ]:
# enter solution here

Display basic information about the object _df_.

In [ ]:
# enter solution here

Determine the number of missing elements (_np.nan_) in the _df_ object for each variable.

In [ ]:
# enter solution here

### <a name='2'></a> Exercise 32
Note the _TotalCharges_ column. The type of this column is _object_. Try to guess why this happened.

__Tip:__
Look at the variable distribution.

In [ ]:
# enter solution here

Note that we have 11 null values. To see it better, see below.

In [ ]:
df['TotalCharges'].value_counts()[:3].index

This is a space character that has crept into our data. He made the pandas read the entire column as text. As an analyst, we have to deal with such problems. Try to replace the missing values of the _TotalCharges_ column with its median.

In [ ]:
# enter solution here

Check if the type has been changed correctly.

In [ ]:
# enter solution here

### <a name='3'></a> Exercise 33
Convert columns from the list below _categorical_ to type _category_.

In [ ]:
# enter solution here

Convert columns from the list below _numerical_ to type _float_.

In [ ]:
# enter solution here

Set the _customerID_ column as the index of the _df_ object and display info about the _df_ object.

In [ ]:
# enter solution here

### <a name='4'></a> Exercise 34
Use the _describe()_ method to display basic statistics for the _df_ object.

In [ ]:
# enter solution here

Note that these are only numeric variables. Display the basic statistics of categorical variables by passing the appropriate parameter _include_ of the _describe()_ method.

In [ ]:
# enter solution here

Note that these are slightly different statistics than for numeric variables.

### <a name='5'></a> Exercise 35
Find the distribution of values for the _Churn_ variable.

In [ ]:
# enter solution here

Build a pie chart of the distribution of the _Churn_ variable.

In [ ]:
# enter solution here

### <a name='6'></a> Exercise 36
Build the _pairplot()_ chart from the _seaborn_ library. Pass variables:
* tenure
* MonthlyCharges
* TotalCharges


and the parameter: _hue = 'Churn'_.

__Tip:__
https://seaborn.pydata.org/generated/seaborn.pairplot.html

In [ ]:
# enter solution here

### <a name='7'></a> Exercise 37
Map the _Churn_ column accordingly:
* 'Yes' -> 1
* 'No' -> 0

Display the first 5 rows of _df_.

In [ ]:
# enter solution here

### <a name='8'></a> Exercise 38
Calculate the correlation matrix for the _df_ object.

In [ ]:
# enter solution here

### <a name='9'></a> Exercise 39
Find the distribution of _PaymentMethod_.

In [ ]:
# enter solution here

Group data by the _PaymentMethod_ variable and calculate the average value for the _TotalCharges_ variable.

In [ ]:
# enter solution here

### <a name='10'></a> Exercise 40
Take a sample of 10 rows from the _df_ object and save to _sample_10.csv_.

In [ ]:
# enter solution here

Run the cell below to check.

In [ ]:
! cat sample_10.csv

### <a name='1'></a> Exercise 41
Two _Series_ objects are given:
```
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))
```
Combine these two objects into one _DataFrame_ object (as two columns) and assign to _df_. Name the columns _col1_ and _col2_ respectively.

In [ ]:
# enter solution here

### <a name='2'></a> Exercise 42
Extract rows from the _df_ object for which the value in the _col2_ column is between 0.0 and 1.0 (inclusive).

In [ ]:
# enter solution here

### <a name='3'></a> Exercise 43
Assign a new column named _col3_, which will have a value of 1 when the value in the column _col2_ is non-negative and -1 opposite.

In [ ]:
# enter solution here

### <a name='4'></a> Exercise 44

Assign a new column _col4_, which will truncate the values from the column _col2_ to the range $ [- 1.0, 1.0] $.
In other words, for values below -1.0, leave -1.0, for values above 1.0, leave 1.0.

In [ ]:
# enter solution here

### <a name='5'></a> Exercise 45
Find the top 5 values for the _col2_ column.

In [ ]:
# enter solution here

Find the 5 lowest values for the _col2_ column.

In [ ]:
# enter solution here

### <a name='6'></a> Exercise 46
Calculate the cumulative sum for each column.

__Tip:__ Use the _pd.DataFrame.cumsum()_ method.

In [ ]:
# enter solution here

### <a name='7'></a> Exercise 47
Calculate the median for the _col2_ variable (or 0.5 quantile).

In [ ]:
# enter solution here

### <a name='8'></a> Exercise 48
Extract rows for which the variable _col2_ takes values greater than 0.0.

In [ ]:
# enter solution here

### <a name='9'></a> Exercise 49
Extract first 5 rows of the _df_ object and convert it to a dictionary.

In [ ]:
# enter solution here

### <a name='10'></a> Exercise 50
Extract the first 5 rows of the _df_ object, convert it to Markdown format, and assign it to the _df_markdown_ variable.

In [ ]:
# enter solution here

Print the contents of the _df_markdown_ variable to the console.

In [ ]:
# enter solution here

Copy the result of running the above cell and paste below:

|    |     col1 |      col2 |   col3 |      col4 |
|---:|---------:|----------:|-------:|----------:|
|  0 | 0.292145 |  0.822545 |      1 |  0.822545 |
|  1 | 0.366362 | -1.22084  |     -1 | -1        |
|  2 | 0.45607  |  0.208864 |      1 |  0.208864 |
|  3 | 0.785176 | -1.95967  |     -1 | -1        |
|  4 | 0.199674 | -1.32819  |     -1 | -1        |

### <a name='1'></a> Exercise 51
The following _DataFrame_ object is given:
```
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
```

In [ ]:
# enter solution here

Extract the rows of the _df_ object for which the _C_ column is greater than 0.8.

In [ ]:
# enter solution here

### <a name='2'></a> Exercise 52
Extract the rows of the _df_ object for which the _C_ column is greater than 0.3 and the _D_ column is less than 0.7.

In [ ]:
# enter solution here

### <a name='3'></a> Exercise 53
Iterate through the first five rows of the _df_ object. Print each row to the console.

__Tip:__ Use the _pd.DataFrame.iterrows()_ function.

In [ ]:
# enter solution here

### <a name='4'></a> Exercise 54
Set the value in row with index 3 for column B as _np.nan_.
Use _df.iloc_.

In [ ]:
# enter solution here

Set the value in the row at index 8 for column D as _np.nan_. Use _df.loc_.

In [ ]:
# enter solution here

### <a name='5'></a> Exercise 55
Delete all rows from object _df_ containing missing values and assign to variable _df1_. Display variable _df1_.

In [ ]:
# enter solution here

### <a name='6'></a> Exercise 56
Note that the index after removing two rows in the _df1_ object is not in turn. Reset the index (do not add a new column, just reset the index). Display variable _df1_.

In [ ]:
# enter solution here

### <a name='7'></a> Exercise 57
Let's go back to the _df_  object. Determine the number of missing elements in the _df_ object for each column.

In [ ]:
# enter solution here

### <a name='8'></a> Exercise 58
Fill in the missing values with the value 0 and assign to the variable _df_.

In [ ]:
# enter solution here

### <a name='9'></a> Exercise 59
Replace the order of the columns in the _df_ object with the one given below:
* D, A, B, C

and assign to _df_.

In [ ]:
# enter solution here

### <a name='10'></a> Exercise 60
Remove the $ D $ column from the _df_ object.

In [ ]:
# enter solution here

### <a name='1'></a> Exercise 61
Load the csv file into the _DataFrame_ object named _df_:

* https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv

Set the index to the first column. Display object _df_.

In [ ]:
# enter solution here

Display information about the object _df_.

In [ ]:
# enter solution here

Display basic statistics of an object _df_.

In [ ]:
# enter solution here

### <a name='2'></a> Exercise 62
Find the list containing the names of all columns of the _df_ object.

In [ ]:
# enter solution here

From the df object, remove the column named New_Price and display the first 5 rows.

In [ ]:
# enter solution here

### <a name='3'></a> Exercise 63
Find the number of missing values for each object variable _df_.

In [ ]:
# enter solution here

Delete all rows with missing values in the _df_ object. Use the `inplace = True` parameter.

In [ ]:
# enter solution here

### <a name='4'></a> Exercise 64
Replace all letters in column names with lowercase letters, e.g.
* Name -> name
* Fuel_Type -> fuel_type

Display the first five rows using the _head()_ method.

In [ ]:
# enter solution here

### <a name='5'></a> Exercise 65
Find the distribution of the _owner_type_ variable.

In [ ]:
# enter solution here

Find the distribution of the _engine_ variable.

In [ ]:
# enter solution here

Note that the variable _engine_ is of type _object_. Remove the last 3 characters from each element and convert to _int_. Display the first five rows using the _head()_ method.

In [ ]:
# enter solution here

### <a name='6'></a> Exercise 66
Look at the distribution of the _power_ variable. Note that this variable also has missing values in the form of the _'null bhp'_ value. Replace these values for _power_ with _np.nan_. Use the _np.where()_ function for this.

In [ ]:
# enter solution here

Delete all rows with missing values again.

In [ ]:
# enter solution here

### <a name='7'></a> Exercise 67
Note that the _power_ variable is of type _object_. Remove the last 4 characters from each element and convert to float type.

Display the first five rows using the _head()_ method.

In [ ]:
# enter solution here

### <a name='8'></a> Exercise 68
Group data at year level (_year_) and count the number of rows for each year.

In [ ]:
# enter solution here

### <a name='9'></a> Exercise 69
Check the distribution of the _transmission_ variable.

In [ ]:
# enter solution here

Perform the following mapping of the _transmission_ variable:
* Manual -> 0
* Automatic -> 1

Display the first five rows using the _head()_ method.

In [ ]:
# enter solution here

### <a name='10'></a> Exercise 70
Save the _df_ object to the _car.csv_ file (do not save the index).

In [ ]:
# enter solution here

Run the following instructions to check.

In [ ]:
!head car.csv

Run the following code to download the _london_bike.csv_ file to your working directory.

In [ ]:
!wget -q https://storage.googleapis.com/esmartdata-courses-files/ds-bootcamp/london_bike.csv

### <a name='1'></a> Exercise 71
Load the _london_bike.csv_ file into the DataFrame object named _df_ and display basic information about the object.

In [ ]:
# enter solution here

Display the first five rows of _df_.

In [ ]:
# enter solution here

Display the last five rows of _df_.

In [ ]:
# enter solution here

### <a name='2'></a> Exercise 72
Note that the _timestamp_ column is of type _object_. Replace it with _datetime_.

__Tip:__ Use the _pd.to_datetime()_ function.

In [ ]:
# enter solution here

Add a new column named _hour_ to the _df_ object and assign the time from the _timestamp_ column. Display the first five rows of the _df_ object.

In [ ]:
# enter solution here

### <a name='3'></a> Exercise 73
Add a new column named _month_ to the _df_ object and assign the month from the _timestamp_ column. Display the first five rows of the _df_ object.

In [ ]:
# enter solution here

Group data by month (_month_) and calculate the average value for the variable _hum_. Assign the result to _humidity_by_month_ and reset the index.

In [ ]:
# enter solution here

Using the _plotly express_ library, build a line chart of the average value of the _hum_ variable for a given month (use the _humidity_by_month_ object).

__Tip:__ Use the _px.line()_ function.

In [ ]:
# enter solution here

Build the same chart this time using the _plotly_dark_ template.

In [ ]:
# enter solution here

Read for which month the average value of the _hum_ variable is the smallest and for which it is the largest.

### <a name='4'></a> Exercise 74
Group data at the hour level (_hour_) and then determine the average value of the variable _cnt_. Assign the result to the variable _cnt_by_hour_ and reset the index.

In [ ]:
# enter solution here

Using the _plotly express_ library, build a line chart of the average value of the _cnt_ variable by hours (use the _cnt_by_hour_ object).

In [ ]:
# enter solution here

### <a name='5'></a> Exercise 75
Group data by variables _is_weekend_ and _hour_ and determine the average value of the variable _cnt_. Assign the result to the variable _cnt_by_weekend_hour_ and reset the index.

In [ ]:
# enter solution here

Using the _plotly express_ library, build a line chart of the average value of the _cnt_ variable by hours __on non-weekend days__ (use the _cnt_by_weekend_hour_ object). Set the title of the chart: 'Out of the weekend'.

In [ ]:
# enter solution here

Using the _plotly express_ library, build a line chart of the average value of _cnt_ by hour __on weekend days__ (use the _cnt_by_weekend_hour_ object). Set the chart title: 'Weekends'.

In [ ]:
# enter solution here

Are there any differences between non-weekend days and weekend days?

### <a name='6'></a> Exercise 76
Using the _plotly express_ library, build the histogram of the _cnt_ variable. Add chart title: 'Histogram of the cnt variable'.

In [ ]:
# enter solution here

Also add a box chart to the histogram.

__Tip:__ Use parameter _marginal_ of function _px.histogram()_.

In [ ]:
# enter solution here

### <a name='7'></a> Exercise 77
Extract rows for which the _wind_speed_ variable is less than 10.0 and the _hum_ variable is greater than 90.0.

In [ ]:
# enter solution here

### <a name='8'></a> Exercise 78
Extract rows for which the _is_weekend_ variable is 1.0. Then copy the result and assign it to the _df_weekend_ variable.

In [ ]:
# enter solution here

### <a name='9'></a> Exercise 79
Save the _df_weekend_ object to the _weekend.xlsx_ file. Name the worksheet _london_bike_ and skip saving the index to a file.

In [ ]:
# enter solution here

### <a name='10'></a> Exercise 80
Save the first 10 rows of the _df_weekend_ object to the _head10.html_ file.

In [ ]:
# enter solution here

Run the following instructions to download the _insurance.csv_ file to your working directory.

In [ ]:
!wget -q https://storage.googleapis.com/esmartdata-courses-files/ml-course/insurance.csv

### <a name='1'></a> Exercise 81
Load the _insurance.csv_ file into the DataFrame object _df_raw_ and display the first few rows.

In [ ]:
# enter solution here

Copy the _df_raw_ object to the _df_ variable and display basic information about the _df_ object.

In [ ]:
# enter solution here

### <a name='2'></a> Exercise 82
Check if there are duplicate rows in the _df_ object. If so, display these rows.

In [ ]:
# enter solution here

Delete duplicates in object _df_.

In [ ]:
# enter solution here

### <a name='3'></a> Exercise 83
Display variables from the object _df_ with the type _object_.

__Tip:__ Use the _pd.DataFrame.select_dtypes()_ method.

In [ ]:
# enter solution here

Convert these variables to categorical variables.

__Tip:__ Use the _pd.DataFrame.astype()_ method.

In [ ]:
# enter solution here

Display numeric variables (_float_, _int_) from the object _df_.

__Tip:__ Use the _pd.DataFrame.select_dtypes()_ method

In [ ]:
# enter solution here

Find the names of numeric variables (_float_, _int_) from the object _df_.

In [ ]:
# enter solution here

### <a name='4'></a> Exercise 84
Follow the steps below:

* assign to the variable _df_cat_ categorical variables from the object _df_ and create a copy of them.

* assign to the variable _df_num_ numerical variables from the object _df_ and create a copy of them.

In [ ]:
# enter solution here

Display the first 5 rows of the _df_cat_ object.

In [ ]:
# enter solution here

Display the first 5 rows of _df_num_.

In [ ]:
# enter solution here

### <a name='5'></a> Exercise 85
Display basic statistics of the _df_cat_ object.

In [ ]:
# enter solution here

Display basic statistics of the object _df_num_.

In [ ]:
# enter solution here

Display basic statistics of the _df_ object for numeric variables and transpose the resulting _DataFrame_ object.

In [ ]:
# enter solution here

Display basic statistics of the _df_ object for numeric variables, transpose the resulting _DataFrame_ object and extract the two columns _mean_ and _std_.

In [ ]:
# enter solution here

Display basic statistics of the _df_ object for categorical variables and transpose the resulting _DataFrame_ object.

In [ ]:
# enter solution here

Check if there are any missing data in the _df_ object.

In [ ]:
# enter solution here

### <a name='6'></a> Exercise 86
Using the _plotly express_ library, build the histogram of the _charges_ variable.

Use the _px.histogram()_ function with the following parameters:
* width = 800
* height = 400
* nbins = 50
* facet_col = 'smoker'
* facet_row = 'sex'

In [ ]:
# enter solution here

Using the _plotly express_ library, find the distribution of the _smoker_ variable.

Use the _px.histogram()_ function with the following parameters:
* width = 800
* height = 400
* facet_col = 'sex'
* color = 'sex'

In [ ]:
# enter solution here

### <a name='7'></a> Exercise 87
Convert categorical variables of the _df_ object to 0-1 encoding and assign it to the _df_dummies_ variable.  

__Tip:__ Use the _pd.get_dummies()_ function with the `drop_first = True` parameter.

In [ ]:
# enter solution here

### <a name='8'></a> Exercise 88
Determine the correlations of variables in the _df_dummies_ object and assign it to the _corr_ variable.

In [ ]:
# enter solution here

Extract the column from the _corr_ object for the _charges_ variable (as a DataFrame object) and sort the values in descending order.

In [ ]:
# enter solution here

Using the _plotly express_ library, create a bar chart for such sorted values. Skip the first element of the object.

In [ ]:
# enter solution here

### <a name='9'></a> Exercise 89
Copy the _df_dummies_ object to the _data_ variable. Then pop the _charges_ column from this object and assign it to the _target_ variable.

In [ ]:
# enter solution here

Display the first 5 rows of _data_. Make sure the _charges_ column is not in it.

In [ ]:
# enter solution here

Display the first 5 rows of _target_.

In [ ]:
# enter solution here

### <a name='10'></a> Exercise 90
Using the _scikit-learn_ library and the _train_test_split_ function, divide the data from the _data_ and _target_ objects into a training set (_X\_train_, _y\_train_) and a test set (_X\_test_, _y\_test_). Assign 20% of the samples to the test set.

Display object size:
* _X\_train_
* _X\_test_
* _y\_train_
* _y\_test_

In [ ]:
# enter solution here

Save objects:
* _X\_train_
* _X\_test_
* _y\_train_
* _y\_test_  

to csv files with the appropriate name:
* X_train.csv
* X_test.csv
* y_train.csv
* y_test.csv

In [ ]:
# enter solution here

Run the cell below to check.

In [ ]:
!head -5 X_test.csv
!head -5 X_train.csv
!head -5 y_train.csv
!head -5 y_test.csv

### <a name='1'></a> Exercise 91
Create the _DataFrame_ object from the _data_ dictionary below and assign it to the _df_ variable.

```
data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}
```

In [ ]:
data = {
    'size': ['XL', 'L', 'M', 'L', 'M'],
    'color': ['red', 'green', 'blue', 'green', 'red'],
    'gender': ['female', 'male', 'male', 'female', 'female'],
    'price': [199.0, 89.0, 99.0, 129.0, 79.0],
    'weight': [500, 450, 300, 380, 410],
    'bought': ['yes', 'no', 'yes', 'no', 'yes']
}

# enter solution here

Display basic information about the object _df_.

In [ ]:
# enter solution here

Convert variables to types:
* size -> _category_
* color -> _category_
* gender -> _category_
* weight -> _float_
* bought -> _category_

In [ ]:
# enter solution here

### <a name='2'></a> Exercise 92
Use the _scikit-learn_ machine learning library and the _LabelEncoder_ class to code 0-1 of the _bought_ variable. Assign changes to the _df_ object permanently and display the object.

In [ ]:
# enter solution here

Use the appropriate method of the _LabelEncoder_ class to restore the original values of the _bought_ variable. Note the type of the _bought_ variable.

In [ ]:
# enter solution here

### <a name='3'></a> Exercise 93
Using the machine learning library _scikit-learn_ and the _OneHotEncoder_ class, encode 0-1 of the _size_ variable. Don't assign changes to the _df_ object.

Use the `sparse = False` parameter of the _OneHotEncoder_ class.

In [ ]:
# enter solution here

Using the machine learning library _scikit-learn_ and the _OneHotEncoder_ class, encode 0-1 of the _size_ variable. Don't assign changes to the _df_ object.

Use the parameter `sparse = False` and `drop = first` of the _OneHotEncoder_ class.

In [ ]:
# enter solution here

### <a name='4'></a> Exercise 94
Using the _pandas_ library and the _get_dummies()_ function, present all categorical variables of the _df_ object in the form of 0-1 encoding. Don't assign changes permanently to the _df_ object.

In [ ]:
# enter solution here

Using the _pandas_ library and the _get_dummies()_ function, present all categorical variables of the _df_ object in the form of 0-1 encoding. Use the `drop_first = True` parameter. Don't assign changes permanently to the _df_ object.

In [ ]:
# enter solution here

Using the _pandas_ library and the _get_dummies()_ function, present the _size_ variable of the _df_ object in the form of 0-1 encoding. Use the `drop_first = True` parameter. Don't assign changes permanently to the _df_ object.

In [ ]:
# enter solution here

### <a name='5'></a> Exercise 95
Use the _scikit-learn_ machine learning library and the _StandardScaler_ class to scale the _weight_ variable. Don't assign changes to the _df_ object.

In [ ]:
# enter solution here

### <a name='6'></a> Exercise 96
Load the _data_ dictionary again into the _DataFrame_ object named _df_.

In [ ]:
# enter solution here

Prepare the data for the machine learning model:
* using the LabelEncoder class, encode 0-1 of the _bought_ variable
* standardize the variables _weight_ and _price_
* encode 0-1 categorical variables using the function _get_dummies()._

Assign changes to the _df_prep_ variable.

In [ ]:
# enter solution here

### <a name='7'></a> Exercise 97
Copy the _df_prep_ object to the _data_ variable. Then pop the _bought_ column from this object and assign it to the _target_ variable.

In [ ]:
# enter solution here

Display the first 5 rows of _data_. Make sure the _bought_ column is not in it.

In [ ]:
# enter solution here

Display the first 5 rows of _target_.

In [ ]:
# enter solution here

### <a name='8'></a> Exercise 98
Using the _scikit-learn_ library and the _train_test_split_ function, divide the data from the _data_ and _target_ objects into a training set (_X\_train_, _y\_train_) and a test set (_X\_test_, _y\_test_). Assign 20% of the samples to the test set.

Display object size:
* _X\_train_
* _X\_test_
* _y\_train_
* _y\_test_

In [ ]:
# enter solution here

### <a name='9'></a> Exercise 99
Combine _X\_train_ and _X\_test_ objects into one _DataFrame_ object named _X_.

In [ ]:
# enter solution here

### <a name='10'></a> Exercise 100
Combine the _y\_train_ and _y\_test_ objects into one _DataFrame_ object named _y_.

In [ ]:
# enter solution here

Combine _X_ and _y_ objects into one _DataFrame_ object.

In [ ]:
# enter solution here